In [1]:
from matplotlib import font_manager, rc  # 한글사용 matplotlib
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import csv
import codecs
import numpy as np
import json
import tensorflow as tf
import jpype
from konlpy.tag import Okt
from IPython.core.interactiveshell import InteractiveShell
from pandas import DataFrame as df
InteractiveShell.ast_node_interactivity = 'all'
os.chdir("C:/Users/windd/pythondata")
%matplotlib inline
font_name = font_manager.FontProperties(
    fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
rdata = pd.read_csv('bigcontest/2019빅콘테스트_퓨처스리그2/AFSNT.csv',engine='python',encoding='cp949')

In [3]:
# 지연 여부 코딩

dly = []
for i in rdata.DLY:
    if i =='Y':
        dly.append(1)
    elif i =='N':
        dly.append(0)
rdata['DLY2'] = dly

In [4]:
yy = rdata.SDT_YY
mm = rdata.SDT_MM
dd = rdata.SDT_DD

# 날짜 병합 함수
from datetime import datetime

def time_merge(year,month,day):
    date = []
    for i in range(len(year)):
        date_str = str(year[i])+'-'+str(month[i])+'-'+str(day[i])
        date_date = datetime.strptime(date_str,'%Y-%m-%d')
        date.append(date_date)
    return date
a = time_merge(yy,mm,dd)

rdata['DATE'] = a

In [5]:
rdata.isnull().sum()

SDT_YY         0
SDT_MM         0
SDT_DD         0
SDT_DY         0
ARP            0
ODP            0
FLO            0
FLT            0
REG         8263
AOD            0
IRR            0
STT            0
ATT            0
DLY            0
DRR       868772
CNL            0
CNR       979450
DLY2           0
DATE           0
dtype: int64

In [6]:
rdata2 =rdata[~(rdata['CNL']=='Y')]

In [7]:
rdata2 = rdata2[~(rdata2.REG.isnull())]

In [8]:
rdata2.isnull().sum()

SDT_YY         0
SDT_MM         0
SDT_DD         0
SDT_DY         0
ARP            0
ODP            0
FLO            0
FLT            0
REG            0
AOD            0
IRR            0
STT            0
ATT            0
DLY            0
DRR       860509
CNL            0
CNR       979446
DLY2           0
DATE           0
dtype: int64

In [9]:
rdata3 = rdata2[['DATE','FLT','REG','ARP','ODP','AOD','DLY','STT','ATT']]
rdata3 = rdata3.sort_values(by=['FLT','DATE'])

In [10]:
rdata3.head()

             DATE    FLT       REG   ARP   ODP AOD DLY    STT    ATT
200345 2017-01-01  A1001  SEw3Nzkw  ARP2  ARP3   D   N   8:30   8:45
200453 2017-01-01  A1001  SEw3Nzkw  ARP3  ARP2   A   N   9:20   9:24
200731 2017-01-03  A1001  SEw3Nzc2  ARP2  ARP3   D   N  19:00  19:17
200832 2017-01-03  A1001  SEw3Nzc2  ARP3  ARP2   A   N  19:50  19:57
201061 2017-01-05  A1001  SEw3Nzg4  ARP2  ARP3   D   N   8:30   8:44

# 하루 항공편에서 운행횟수

In [11]:
# 5개 이후로는 없음

a = rdata3.pivot_table(index=['DATE','FLT'],aggfunc='count',values='STT')
len(a[a['STT']==1])
len(a[a['STT']==2])
len(a[a['STT']==3])
len(a[a['STT']==4])

2743

488008

17

159

In [12]:
go1 = a[a['STT']==1]
go1.reset_index(['DATE','FLT'],inplace=True)
go2 = a[a['STT']==2]
go2.reset_index(['DATE','FLT'],inplace=True)
go3 = a[a['STT']==3]
go3.reset_index(['DATE','FLT'],inplace=True)
go4 = a[a['STT']==4]
go4.reset_index(['DATE','FLT'],inplace=True)

In [13]:
go1

           DATE     FLT  STT
0    2017-01-01  A1802A    1
1    2017-01-01  A1805A    1
2    2017-01-01  A1806A    1
3    2017-01-01  F1261F    1
4    2017-01-01  F1262F    1
5    2017-01-01   J1465    1
6    2017-01-02  B1804F    1
7    2017-01-02   J1463    1
8    2017-01-02   J1464    1
9    2017-01-02   L1004    1
10   2017-01-03   L1005    1
11   2017-01-03   L1007    1
12   2017-01-03   L1008    1
13   2017-01-04  A1805A    1
14   2017-01-05  A1805A    1
15   2017-01-05  A1806A    1
16   2017-01-05   L1007    1
17   2017-01-05   L1008    1
18   2017-01-06  A1804A    1
19   2017-01-06  A1808A    1
20   2017-01-06  A1893A    1
21   2017-01-07  A1805A    1
22   2017-01-07  A1806A    1
23   2017-01-07   L1007    1
24   2017-01-07   L1008    1
25   2017-01-10  A1857A    1
26   2017-01-10   L1007    1
27   2017-01-10   L1008    1
28   2017-01-12  A1802A    1
29   2017-01-12  A1803A    1
...         ...     ...  ...
2713 2019-06-11   L1002    1
2714 2019-06-14   J1463    1
2715 2019-06-14   J1465    1
2716 2019-06-15  A1801A    1
2717 2019-06-15  B1804F    1
2718 2019-06-15  F1262F    1
2719 2019-06-15   I1933    1
2720 2019-06-17  B1803F    1
2721 2019-06-18  A1801A    1
2722 2019-06-18  A1802A    1
2723 2019-06-19  H1901T    1
2724 2019-06-20  J1144F    1
2725 2019-06-20   J1463    1
2726 2019-06-21  H1931F    1
2727 2019-06-22  A1851A    1
2728 2019-06-22  B1803F    1
2729 2019-06-24  A1801A    1
2730 2019-06-24  A1803A    1
2731 2019-06-24  A1804A    1
2732 2019-06-24   J1499    1
2733 2019-06-26  H1962F    1
2734 2019-06-27  A1801A    1
2735 2019-06-27  H1922F    1
2736 2019-06-27  I1941F    1
2737 2019-06-27  I1942F    1
2738 2019-06-27   J1498    1
2739 2019-06-29   J1499    1
2740 2019-06-30  H1931F    1
2741 2019-06-30   J1463    1
2742 2019-06-30   J1500    1

[2743 rows x 3 columns]

In [14]:
# 편명의 운항횟수

len(go1) + len(go2)*2 + len(go3)*3 +len(go4)*4
len(rdata3)

979446

979446

In [15]:
go1_list =[]
for i in range(len(go1)):
    go1_list.append(str(go1.DATE[i])+str(go1.FLT[i]))
    
go2_list = []
for i in range(len(go2)):
    go2_list.append(str(go2.DATE[i])+str(go2.FLT[i]))
    
go3_list = []
for i in range(len(go3)):
    go3_list.append(str(go3.DATE[i])+str(go3.FLT[i]))
    
go4_list = []
for i in range(len(go4)):
    go4_list.append(str(go4.DATE[i])+str(go4.FLT[i]))

In [16]:
# 비교를 위한 DIR column
rdata4 = rdata3 
rdata4.index = list(range(len(rdata4)))
r_list = []
for i in range(len(rdata4)):
    r_list.append(str(rdata4.DATE[i])+str(rdata4.FLT[i]))
rdata4['DIR'] = r_list

# 결론은 같은 항공편이지만 등록기호가 달라지는 경우가
# 있으며 그렇기 때문에 같은 항공편-같은 등록기호로 봐야할 필요가 있음

In [17]:
# 편명별로 데이터 저장

rdata_go1 = rdata4[rdata4.DIR.isin(go1_list)]
rdata_go2 = rdata4[rdata4.DIR.isin(go2_list)]
rdata_go3 = rdata4[rdata4.DIR.isin(go3_list)]
rdata_go4 = rdata4[rdata4.DIR.isin(go4_list)]

len(rdata_go1) + len(rdata_go2) + len(rdata_go3) +len(rdata_go4)

979446

In [18]:
rdata_go1

,DATE,FLT,REG,ARP,ODP,AOD,DLY,STT,ATT,DIR
2486,2017-05-13,A1107A,SEw3NzU0,ARP1,ARP15,A,Y,17:10,18:38,2017-05-13 00:00:00A1107A
6107,2017-07-12,A1123A,SEw4MjU3,ARP1,ARP15,D,Y,7:00,7:51,2017-07-12 00:00:00A1123A
51888,2017-05-13,A1336A,SEw3Nzg5,ARP1,ARP15,A,Y,17:10,18:03,2017-05-13 00:00:00A1336A
51893,2018-08-28,A1360A,SEw4MDcx,ARP1,ARP15,D,Y,22:00,22:37,2018-08-28 00:00:00A1360A
51894,2018-06-13,A1373A,SEw3Nzg4,ARP6,ARP15,D,Y,18:30,19:37,2018-06-13 00:00:00A1373A
54927,2018-01-12,A1450,SEw3Nzcz,ARP3,ARP15,D,Y,22:55,23:37,2018-01-12 00:00:00A1450
54928,2018-01-13,A1450,SEw3Nzcz,ARP15,ARP3,A,N,0:05,0:29,2018-01-13 00:00:00A1450
54937,2018-10-19,A1451,SEw4Mjc5,ARP3,ARP15,A,N,21:05,21:04,2018-10-19 00:00:00A1451
54938,2018-10-21,A1451,SEw3Nzc1,ARP3,ARP15,A,Y,18:55,21:49,2018-10-21 00:00:00A1451
54939,2019-03-21,A1451,SEw3NzU1,ARP3,ARP15,A,N,8:55,9:09,2019-03-21 00:00:00A1451
54944,2017-10-01,A1452,SEw4Mjkz,ARP3,ARP15,D,Y,18:30,20:18,2017-10-01 00:00:00A1452
54945,2018-01-12,A1452,SEw3NTE0,ARP3,ARP15,D,N,22:55,23:17,2018-01-12 00:00:00A1452
54946,2018-01-13,A1452,SEw3NTE0,ARP15,ARP3,A,N,0:05,0:09,2018-01-13 00:00:00A1452
54965,2017-10-01,A1454,SEw3NTE0,ARP3,ARP15,D,Y,22:20,23:03,2017-10-01 00:00:00A1454
54970,2018-08-24,A1455,SEw4MDc0,ARP3,ARP15,A,N,9:10,9:34,2018-08-24 00:00:00A1455
54973,2017-10-01,A1456,SEw3NTA2,ARP3,ARP15,D,N,22:50,23:01,2017-10-01 00:00:00A1456
54984,2017-10-01,A1458,SEw3NTk0,ARP3,ARP15,D,N,22:00,22:25,2017-10-01 00:00:00A1458
54985,2018-01-12,A1458,SEw3NTA2,ARP3,ARP15,D,N,23:10,23:19,2018-01-12 00:00:00A1458
54986,2018-01-13,A1458,SEw3NTA2,ARP15,ARP3,A,N,0:20,0:11,2018-01-13 00:00:00A1458
54987,2018-08-24,A1459,SEw4MDA0,ARP3,ARP15,A,Y,17:10,17:47,2018-08-24 00:00:00A1459
54992,2018-10-21,A1461,SEw3Nzkx,ARP3,ARP15,A,Y,20:50,21:29,2018-10-21 00:00:00A1461
54995,2018-08-24,A1463,SEw3NTE2,ARP3,ARP15,A,Y,17:30,18:41,2018-08-24 00:00:00A1463
55000,2018-01-12,A1470,SEw3NzM3,ARP3,ARP15,D,Y,22:35,23:56,2018-01-12 00:00:00A1470
55001,2018-01-13,A1470,SEw3NzM3,ARP15,ARP3,A,Y,0:00,0:43,2018-01-13 00:00:00A1470
55024,2018-02-04,A1476,SEw3Nzcy,ARP3,ARP15,D,N,23:20,1:14,2018-02-04 00:00:00A1476
55025,2018-02-05,A1476,SEw3Nzcy,ARP15,ARP3,A,Y,1:30,2:03,2018-02-05 00:00:00A1476
55034,2018-08-24,A1478,SEw3MjQ4,ARP3,ARP15,D,Y,22:45,23:31,2018-08-24 00:00:00A1478
55035,2018-08-25,A1478,SEw3MjQ4,ARP15,ARP3,A,N,0:05,0:19,2018-08-25 00:00:00A1478
55040,2019-01-14,A1480,SEw3NTA2,ARP3,ARP15,D,Y,22:35,23:09,2019-01-14 00:00:00A1480
55045,2018-01-12,A1482,SEw3NTI4,ARP3,ARP15,D,Y,20:00,23:15,2018-01-12 00:00:00A1482
...,...,...,...,...,...,...,...,...,...,...
896394,2017-09-24,L1012,SEw4MDk4,ARP2,ARP15,D,N,22:00,21:44,2017-09-24 00:00:00L1012
896395,2017-09-27,L1012,SEw4MjUz,ARP2,ARP15,D,N,8:30,8:59,2017-09-27 00:00:00L1012
896396,2017-09-28,L1012,SEw4MjMy,ARP2,ARP15,D,N,22:35,22:29,2017-09-28 00:00:00L1012
896397,2017-10-01,L1012,SEw4Mjk0,ARP2,ARP15,D,N,22:00,22:20,2017-10-01 00:00:00L1012
896398,2017-10-04,L1012,SEw4MDk4,ARP2,ARP15,D,Y,8:30,9:17,2017-10-04 00:00:00L1012
896399,2017-10-05,L1012,SEw4MDI0,ARP2,ARP15,D,N,22:35,22:15,2017-10-05 00:00:00L1012
896400,2017-10-08,L1012,SEw4MDcw,ARP2,ARP15,D,N,22:00,22:02,2017-10-08 00:00:00L1012
896401,2017-10-11,L1012,SEw4MjMy,ARP2,ARP15,D,Y,8:30,9:15,2017-10-11 00:00:00L1012
896402,2017-10-12,L1012,SEw4MjIw,ARP2,ARP15,D,N,22:35,22:24,2017-10-12 00:00:00L1012
896403,2017-10-15,L1012,SEw4MDY5,ARP2,ARP15,D,N,22:00,21:57,2017-10-15 00:00:00L1012
896404,2017-10-18,L1012,SEw4MjUz,ARP2,ARP15,D,N,8:30,8:52,2017-10-18 00:00:00L1012
896405,2017-10-19,L1012,SEw4MjIw,ARP2,ARP15,D,N,22:35,22:26,2017-10-19 00:00:00L1012
896406,2017-10-22,L1012,SEw4MjM3,ARP2,ARP15,D,N,22:00,22:19,2017-10-22 00:00:00L1012
896407,2017-10-23,L1012,SEw4MjM3,ARP1,ARP15,A,N,19:20,19:29,2017-10-23 00:00:00L1012
896408,2017-10-25,L1012,SEw4MjM3,ARP2,ARP15,D,Y,8:30,9:05,2017-10-25 00:00:00L1012
896409,2017-10-26,L1012,SEw4MjIw,ARP2,ARP15,D,N,22:35,22:21,2017-10-26 00:00:00L1012
896410,2018-05-19,L1012,SEw4MjM1,ARP1,ARP15,A,N,7:50,7:19,2018-05-19 00:00:00L1012
896411,2017-07-18,L1013,SEw4MDg2,ARP4,ARP15,A,Y,7:00,8:05,2017-07-18 00:00:00L1013
896412,2017-07-24,L1013,SEw4MjM1,ARP1,ARP15,D,Y,18:40,19:14,2017-07-24 00:00:00L1013
896413,2017-08-08,L1013,SEw4MDk4,ARP3,ARP15,A,N,7:20,7:00,2017-08-08 00:00:00L1013
896416,2018-05-19,L1014,SEw4Mjk0,ARP1,ARP15,A,Y,6:20,7:02,2018-05-19 00:00:00L1014
896421,2017-12-21,L1130,SEw4MDU2,ARP8,ARP15,A,Y,5:10,10:34,2017-12-21 00:00:00L1130
896428,2017-12-23,L1298,SEw4MDI0,ARP1,ARP15,D,Y,17:20,19:10,2017-12-23 00:00:00L1298
908309,2018-02-06,L1708,SEw4MjM1,ARP3,ARP15,D,Y,22:20,23:23,2018-02-06 00:00:00L1708
936991,2018-08-27,L1732,SEw4MDU2,ARP3,ARP15,D,Y,22:30,23:50,2018-08-27 00:00:00L1732
937128,2018-11-08,L1732,SEw4MjM3,ARP3,ARP15,D,N,23:10,23:40,2018-11-08 00:00:00L1732
938270,2018-04-10,L1734,SEw4MDk1,ARP3,ARP15,D,Y,22:40,23:34,2018-04-10 00:00:00L1734
948412,2018-10-06,L1802,SEw4MzAw,ARP4,ARP15,D,N,23:20,23:25,2018-10-06 00:00:00L1802
961165,2018-07-18,L1810,SEw4MDcw,ARP3,ARP4,D,Y,21:10,23:41,2018-07-18 00:00:00L1810
961850,2018-07-19,L1810A,SEw4MDcw,ARP4,ARP3,A,N,0:25,0:31,2018-07-19 00:00:00L1810A

In [19]:
rdata_go2

,DATE,FLT,REG,ARP,ODP,AOD,DLY,STT,ATT,DIR
0,2017-01-01,A1001,SEw3Nzkw,ARP2,ARP3,D,N,8:30,8:45,2017-01-01 00:00:00A1001
1,2017-01-01,A1001,SEw3Nzkw,ARP3,ARP2,A,N,9:20,9:24,2017-01-01 00:00:00A1001
2,2017-01-03,A1001,SEw3Nzc2,ARP2,ARP3,D,N,19:00,19:17,2017-01-03 00:00:00A1001
3,2017-01-03,A1001,SEw3Nzc2,ARP3,ARP2,A,N,19:50,19:57,2017-01-03 00:00:00A1001
4,2017-01-05,A1001,SEw3Nzg4,ARP2,ARP3,D,N,8:30,8:44,2017-01-05 00:00:00A1001
5,2017-01-05,A1001,SEw3Nzg4,ARP3,ARP2,A,N,9:20,9:26,2017-01-05 00:00:00A1001
6,2017-01-08,A1001,SEw3Nzcy,ARP2,ARP3,D,N,8:30,8:42,2017-01-08 00:00:00A1001
7,2017-01-08,A1001,SEw3Nzcy,ARP3,ARP2,A,N,9:20,9:21,2017-01-08 00:00:00A1001
8,2017-01-10,A1001,SEw3Nzcz,ARP2,ARP3,D,N,19:00,19:06,2017-01-10 00:00:00A1001
9,2017-01-10,A1001,SEw3Nzcz,ARP3,ARP2,A,N,19:50,19:47,2017-01-10 00:00:00A1001
10,2017-01-12,A1001,SEw3NzY5,ARP2,ARP3,D,N,8:30,8:38,2017-01-12 00:00:00A1001
11,2017-01-12,A1001,SEw3NzY5,ARP3,ARP2,A,N,9:20,9:17,2017-01-12 00:00:00A1001
12,2017-01-15,A1001,SEw3Nzc2,ARP2,ARP3,D,N,8:30,8:40,2017-01-15 00:00:00A1001
13,2017-01-15,A1001,SEw3Nzc2,ARP3,ARP2,A,N,9:20,9:27,2017-01-15 00:00:00A1001
14,2017-01-17,A1001,SEw3Nzcz,ARP2,ARP3,D,N,19:00,19:06,2017-01-17 00:00:00A1001
15,2017-01-17,A1001,SEw3Nzcz,ARP3,ARP2,A,N,19:50,19:53,2017-01-17 00:00:00A1001
16,2017-01-19,A1001,SEw3Nzcy,ARP2,ARP3,D,N,8:30,8:45,2017-01-19 00:00:00A1001
17,2017-01-19,A1001,SEw3Nzcy,ARP3,ARP2,A,N,9:20,9:22,2017-01-19 00:00:00A1001
18,2017-01-22,A1001,SEw3Nzg4,ARP2,ARP3,D,N,8:30,8:38,2017-01-22 00:00:00A1001
19,2017-01-22,A1001,SEw3Nzg4,ARP3,ARP2,A,N,9:20,9:13,2017-01-22 00:00:00A1001
20,2017-01-24,A1001,SEw4MDM4,ARP2,ARP3,D,N,19:00,19:04,2017-01-24 00:00:00A1001
21,2017-01-24,A1001,SEw4MDM4,ARP3,ARP2,A,N,19:50,19:38,2017-01-24 00:00:00A1001
22,2017-01-26,A1001,SEw4MjY1,ARP2,ARP3,D,N,8:30,8:40,2017-01-26 00:00:00A1001
23,2017-01-26,A1001,SEw4MjY1,ARP3,ARP2,A,N,9:20,9:14,2017-01-26 00:00:00A1001
24,2017-01-29,A1001,SEw3Nzc2,ARP2,ARP3,D,N,8:30,8:41,2017-01-29 00:00:00A1001
25,2017-01-29,A1001,SEw3Nzc2,ARP3,ARP2,A,N,9:20,9:30,2017-01-29 00:00:00A1001
26,2017-01-31,A1001,SEw3Nzcz,ARP2,ARP3,D,N,19:00,19:09,2017-01-31 00:00:00A1001
27,2017-01-31,A1001,SEw3Nzcz,ARP3,ARP2,A,N,19:50,19:46,2017-01-31 00:00:00A1001
28,2017-02-02,A1001,SEw3NzM4,ARP2,ARP3,D,N,8:30,8:40,2017-02-02 00:00:00A1001
29,2017-02-02,A1001,SEw3NzM4,ARP3,ARP2,A,N,9:20,9:14,2017-02-02 00:00:00A1001
...,...,...,...,...,...,...,...,...,...,...
979416,2019-06-16,L1932,SEw4MzU0,ARP7,ARP3,A,N,19:00,18:46,2019-06-16 00:00:00L1932
979417,2019-06-16,L1932,SEw4MzU0,ARP3,ARP7,D,N,18:10,18:20,2019-06-16 00:00:00L1932
979418,2019-06-17,L1932,SEw4MzU0,ARP7,ARP3,A,N,19:00,19:01,2019-06-17 00:00:00L1932
979419,2019-06-17,L1932,SEw4MzU0,ARP3,ARP7,D,N,18:10,18:31,2019-06-17 00:00:00L1932
979420,2019-06-18,L1932,SEw4MzU0,ARP7,ARP3,A,N,19:00,19:01,2019-06-18 00:00:00L1932
979421,2019-06-18,L1932,SEw4MzU0,ARP3,ARP7,D,N,18:10,18:33,2019-06-18 00:00:00L1932
979422,2019-06-19,L1932,SEw4MDIx,ARP7,ARP3,A,N,19:00,18:53,2019-06-19 00:00:00L1932
979423,2019-06-19,L1932,SEw4MDIx,ARP3,ARP7,D,N,18:10,18:30,2019-06-19 00:00:00L1932
979424,2019-06-20,L1932,SEw4MDIx,ARP7,ARP3,A,N,19:00,19:03,2019-06-20 00:00:00L1932
979425,2019-06-20,L1932,SEw4MDIx,ARP3,ARP7,D,N,18:10,18:40,2019-06-20 00:00:00L1932
979426,2019-06-21,L1932,SEw4MjM1,ARP7,ARP3,A,N,19:00,18:52,2019-06-21 00:00:00L1932
979427,2019-06-21,L1932,SEw4MjM1,ARP3,ARP7,D,N,18:10,18:27,2019-06-21 00:00:00L1932
979428,2019-06-22,L1932,SEw4MzU0,ARP7,ARP3,A,N,19:00,18:56,2019-06-22 00:00:00L1932
979429,2019-06-22,L1932,SEw4MzU0,ARP3,ARP7,D,N,18:10,18:28,2019-06-22 00:00:00L1932
979430,2019-06-23,L1932,SEw4MDY3,ARP7,ARP3,A,N,19:00,19:17,2019-06-23 00:00:00L1932
979431,2019-06-23,L1932,SEw4MDY3,ARP3,ARP7,D,N,18:10,18:33,2019-06-23 00:00:00L1932
979432,2019-06-24,L1932,SEw4MDY3,ARP7,ARP3,A,N,19:00,18:54,2019-06-24 00:00:00L1932
979433,2019-06-24,L1932,SEw4MDY3,ARP3,ARP7,D,N,18:10,18:29,2019-06-24 00:00:00L1932
979434,2019-06-25,L1932,SEw4MDY3,ARP7,ARP3,A,N,19:00,19:04,2019-06-25 00:00:00L1932
979435,2019-06-25,L1932,SEw4MDY3,ARP3,ARP7,D,Y,18:10,18:41,2019-06-25 00:00:00L1932
979436,2019-06-26,L1932,SEw4MzU0,ARP7,ARP3,A,N,19:00,18:43,2019-06-26 00:00:00L1932
979437,2019-06-26,L1932,SEw4MzU0,ARP3,ARP7,D,N,18:10,18:19,2019-06-26 00:00:00L1932
979438,2019-06-27,L1932,SEw4MzU0,ARP7,ARP3,A,N,19:00,18:57,2019-06-27 00:00:00L1932
979439,2019-06-27,L1932,SEw4MzU0,ARP3,ARP7,D,N,18:10,18:37,2019-06-27 00:00:00L1932
979440,2019-06-28,L1932,SEw4MzU0,ARP7,ARP3,A,N,19:00,18:41,2019-06-28 00:00:00L1932
979441,2019-06-28,L1932,SEw4MzU0,ARP3,ARP7,D,N,18:10,18:20,2019-06-28 00:00:00L1932
979442,2019-06-29,L1932,SEw4MDk4,ARP7,ARP3,A,N,19:00,19:12,2019-06-29 00:00:00L1932
979443,2019-06-29,L1932,SEw4MDk4,ARP3,ARP7,D,Y,18:10,18:41,2019-06-29 00:00:00L1932
979444,2019-06-30,L1932,SEw4MzU0,ARP7,ARP3,A,N,19:00,19:01,2019-06-30 00:00:00L1932
979445,2019-06-30,L1932,SEw4MzU0,ARP3,ARP7,D,N,18:10,18:33,2019-06-30 00:00:00L1932

In [20]:
rdata_go3

,DATE,FLT,REG,ARP,ODP,AOD,DLY,STT,ATT,DIR
345289,2017-08-19,F1220T,SEw4MjA3,ARP10,ARP1,A,N,11:00,11:20,2017-08-19 00:00:00F1220T
345290,2017-08-19,F1220T,SEw4MjA3,ARP1,ARP10,D,N,10:20,10:22,2017-08-19 00:00:00F1220T
345291,2017-08-19,F1220T,SEw4MjA3,ARP1,ARP10,A,N,12:20,12:20,2017-08-19 00:00:00F1220T
407387,2018-06-30,H1107,SEw3MjEz,ARP1,ARP3,D,N,9:00,9:08,2018-06-30 00:00:00H1107
407388,2018-06-30,H1107,SEw3MjEz,ARP3,ARP1,A,N,10:10,10:10,2018-06-30 00:00:00H1107
407389,2018-06-30,H1107,SEw4MzAx,ARP1,ARP15,D,N,6:30,6:51,2018-06-30 00:00:00H1107
570656,2018-02-05,I1330,SEw4MDE2,ARP1,ARP3,A,Y,21:40,22:51,2018-02-05 00:00:00I1330
570657,2018-02-05,I1330,SEw4MDE2,ARP15,ARP3,A,N,0:05,0:17,2018-02-05 00:00:00I1330
570658,2018-02-05,I1330,SEw4MDE2,ARP3,ARP1,D,Y,20:25,22:01,2018-02-05 00:00:00I1330
744243,2017-12-05,J1239,SEw3NzA1,ARP1,ARP3,A,N,20:10,20:05,2017-12-05 00:00:00J1239
744244,2017-12-05,J1239,SEw3NzA1,ARP3,ARP1,D,N,19:00,19:14,2017-12-05 00:00:00J1239
744245,2017-12-05,J1239,SEw4Mjg1,ARP3,ARP15,D,Y,9:20,10:19,2017-12-05 00:00:00J1239
746841,2018-02-05,J1241,SEw3NzA4,ARP1,ARP3,A,N,21:10,21:40,2018-02-05 00:00:00J1241
746842,2018-02-05,J1241,SEw4MjIx,ARP15,ARP3,A,N,0:05,0:04,2018-02-05 00:00:00J1241
746843,2018-02-05,J1241,SEw3NzA4,ARP3,ARP1,D,Y,20:10,20:52,2018-02-05 00:00:00J1241
752485,2018-02-07,J1245,SEw3NzU3,ARP1,ARP3,A,N,21:55,22:00,2018-02-07 00:00:00J1245
752486,2018-02-07,J1245,SEw3NzUy,ARP15,ARP3,A,N,0:10,0:36,2018-02-07 00:00:00J1245
752487,2018-02-07,J1245,SEw3NzU3,ARP3,ARP1,D,N,20:45,21:11,2018-02-07 00:00:00J1245
831651,2018-01-31,J1619,SEw4MDky,ARP5,ARP1,D,N,21:00,21:21,2018-01-31 00:00:00J1619
831652,2018-01-31,J1619,SEw4MDky,ARP1,ARP5,A,N,21:55,22:03,2018-01-31 00:00:00J1619
831653,2018-01-31,J1619,SEw4MDkz,ARP15,ARP5,A,N,0:05,0:01,2018-01-31 00:00:00J1619
898987,2018-01-20,L1702,SEw4MDY3,ARP1,ARP3,A,N,11:10,11:19,2018-01-20 00:00:00L1702
898988,2018-01-20,L1702,SEw4MDY3,ARP3,ARP1,D,N,10:00,10:22,2018-01-20 00:00:00L1702
898989,2018-01-20,L1702,SEw4MDY5,ARP1,ARP15,A,Y,19:40,20:34,2018-01-20 00:00:00L1702
900828,2018-02-07,L1703,SEw4MjY4,ARP1,ARP3,D,N,11:45,12:04,2018-02-07 00:00:00L1703
900829,2018-02-07,L1703,SEw4MjY4,ARP3,ARP1,A,N,12:55,12:59,2018-02-07 00:00:00L1703
900830,2018-02-07,L1703,SEw4MDMw,ARP7,ARP15,A,Y,0:40,1:34,2018-02-07 00:00:00L1703
905781,2018-08-24,L1706,SEw4MDU2,ARP1,ARP3,A,N,9:55,10:08,2018-08-24 00:00:00L1706
905782,2018-08-24,L1706,SEw4MDU2,ARP3,ARP1,D,Y,8:45,9:19,2018-08-24 00:00:00L1706
905783,2018-08-24,L1706,SEw4MDQ3,ARP3,ARP15,D,N,22:50,23:20,2018-08-24 00:00:00L1706
905784,2018-08-25,L1706,SEw4MjUz,ARP1,ARP3,A,N,9:55,9:48,2018-08-25 00:00:00L1706
905785,2018-08-25,L1706,SEw4MDQ3,ARP15,ARP3,A,N,0:05,0:15,2018-08-25 00:00:00L1706
905786,2018-08-25,L1706,SEw4MjUz,ARP3,ARP1,D,N,8:45,9:05,2018-08-25 00:00:00L1706
908310,2018-02-07,L1708,SEw4MDcw,ARP1,ARP3,A,N,21:40,21:52,2018-02-07 00:00:00L1708
908311,2018-02-07,L1708,SEw4MjM1,ARP15,ARP3,A,N,0:05,0:11,2018-02-07 00:00:00L1708
908312,2018-02-07,L1708,SEw4MDcw,ARP3,ARP1,D,Y,20:30,21:05,2018-02-07 00:00:00L1708
926243,2017-09-29,L1722,SEw4MjUz,ARP1,ARP3,A,Y,21:35,22:17,2017-09-29 00:00:00L1722
926244,2017-09-29,L1722,SEw4MjUz,ARP3,ARP1,D,Y,20:25,21:22,2017-09-29 00:00:00L1722
926245,2017-09-29,L1722,SEw4MjIw,ARP3,ARP15,D,Y,22:15,23:15,2017-09-29 00:00:00L1722
926246,2017-09-30,L1722,SEw4Mjk0,ARP1,ARP3,A,Y,21:35,22:36,2017-09-30 00:00:00L1722
926247,2017-09-30,L1722,SEw4MjIw,ARP15,ARP3,A,N,0:05,0:02,2017-09-30 00:00:00L1722
926248,2017-09-30,L1722,SEw4Mjk0,ARP3,ARP1,D,Y,20:25,21:44,2017-09-30 00:00:00L1722
937129,2018-11-09,L1732,SEw4MDcw,ARP1,ARP3,A,N,22:15,22:02,2018-11-09 00:00:00L1732
937130,2018-11-09,L1732,SEw4MjM3,ARP15,ARP3,A,N,0:10,0:22,2018-11-09 00:00:00L1732
937131,2018-11-09,L1732,SEw4MDcw,ARP3,ARP1,D,N,21:05,21:15,2018-11-09 00:00:00L1732
938271,2018-04-11,L1734,SEw4MDg2,ARP1,ARP3,A,N,21:40,21:36,2018-04-11 00:00:00L1734
938272,2018-04-11,L1734,SEw4MDk1,ARP15,ARP3,A,N,0:10,0:26,2018-04-11 00:00:00L1734
938273,2018-04-11,L1734,SEw4MDg2,ARP3,ARP1,D,N,20:30,20:45,2018-04-11 00:00:00L1734
962559,2017-07-16,L1813,SEw4MDk1,ARP4,ARP3,D,Y,8:55,9:57,2017-07-16 00:00:00L1813
962560,2017-07-16,L1813,SEw4MDQ3,ARP4,ARP15,A,Y,8:45,9:40,2017-07-16 00:00:00L1813
962561,2017-07-16,L1813,SEw4MDk1,ARP3,ARP4,A,Y,9:55,10:47,2017-07-16 00:00:00L1813

In [21]:
rdata_go4

,DATE,FLT,REG,ARP,ODP,AOD,DLY,STT,ATT,DIR
897111,2017-12-05,L1701,SEw4MjM3,ARP1,ARP3,D,N,8:15,8:21,2017-12-05 00:00:00L1701
897112,2017-12-05,L1701,SEw4MDIx,ARP1,ARP3,D,N,17:30,17:38,2017-12-05 00:00:00L1701
897113,2017-12-05,L1701,SEw4MjM3,ARP3,ARP1,A,N,9:25,9:19,2017-12-05 00:00:00L1701
897114,2017-12-05,L1701,SEw4MDIx,ARP3,ARP1,A,N,18:40,18:27,2017-12-05 00:00:00L1701
897231,2018-02-07,L1701,SEw4MjY4,ARP1,ARP3,D,N,8:15,8:21,2018-02-07 00:00:00L1701
897232,2018-02-07,L1701,SEw4MjY4,ARP3,ARP1,A,N,9:25,9:11,2018-02-07 00:00:00L1701
897233,2018-02-07,L1701,SEw4MjM3,ARP4,ARP1,A,N,7:00,6:55,2018-02-07 00:00:00L1701
897234,2018-02-07,L1701,SEw4MjM3,ARP1,ARP4,D,N,6:10,6:18,2018-02-07 00:00:00L1701
897591,2018-08-24,L1701,SEw4MDI0,ARP1,ARP3,D,N,6:20,6:40,2018-08-24 00:00:00L1701
897592,2018-08-24,L1701,SEw4MjM3,ARP1,ARP3,D,N,6:30,6:54,2018-08-24 00:00:00L1701
897593,2018-08-24,L1701,SEw4MDI0,ARP3,ARP1,A,N,7:30,7:28,2018-08-24 00:00:00L1701
897594,2018-08-24,L1701,SEw4MjM3,ARP3,ARP1,A,N,7:30,7:44,2018-08-24 00:00:00L1701
898005,2019-03-21,L1701,SEw4MzA2,ARP1,ARP3,D,N,6:40,6:55,2019-03-21 00:00:00L1701
898006,2019-03-21,L1701,SEw4MDk4,ARP1,ARP3,D,N,6:10,6:22,2019-03-21 00:00:00L1701
898007,2019-03-21,L1701,SEw4MzA2,ARP3,ARP1,A,N,7:50,7:49,2019-03-21 00:00:00L1701
898008,2019-03-21,L1701,SEw4MDk4,ARP3,ARP1,A,N,7:20,7:10,2019-03-21 00:00:00L1701
898047,2019-04-10,L1701,SEw4MjM3,ARP1,ARP3,D,N,6:20,6:37,2019-04-10 00:00:00L1701
898048,2019-04-10,L1701,SEw4Mjk0,ARP1,ARP3,D,N,7:20,7:47,2019-04-10 00:00:00L1701
898049,2019-04-10,L1701,SEw4MjM3,ARP3,ARP1,A,N,7:30,7:30,2019-04-10 00:00:00L1701
898050,2019-04-10,L1701,SEw4Mjk0,ARP3,ARP1,A,N,8:30,8:48,2019-04-10 00:00:00L1701
898063,2019-04-17,L1701,SEw4MjM1,ARP1,ARP3,D,N,6:20,6:29,2019-04-17 00:00:00L1701
898064,2019-04-17,L1701,SEw4MjUz,ARP1,ARP3,D,N,7:20,7:29,2019-04-17 00:00:00L1701
898065,2019-04-17,L1701,SEw4MjM1,ARP3,ARP1,A,N,7:30,7:26,2019-04-17 00:00:00L1701
898066,2019-04-17,L1701,SEw4MjUz,ARP3,ARP1,A,N,8:30,8:17,2019-04-17 00:00:00L1701
898151,2019-06-01,L1701,SEw4MDk1,ARP1,ARP3,D,N,6:40,7:00,2019-06-01 00:00:00L1701
898152,2019-06-01,L1701,SEw4MzU0,ARP1,ARP3,D,N,6:20,6:35,2019-06-01 00:00:00L1701
898153,2019-06-01,L1701,SEw4MDk1,ARP3,ARP1,A,N,7:50,7:48,2019-06-01 00:00:00L1701
898154,2019-06-01,L1701,SEw4MzU0,ARP3,ARP1,A,N,7:30,7:29,2019-06-01 00:00:00L1701
898157,2019-06-03,L1701,SEw4MDMw,ARP1,ARP3,D,N,6:40,6:51,2019-06-03 00:00:00L1701
898158,2019-06-03,L1701,SEw4MzI0,ARP1,ARP3,D,N,8:25,8:48,2019-06-03 00:00:00L1701
...,...,...,...,...,...,...,...,...,...,...
954689,2017-11-11,L1806,SEw4MDAw,ARP3,ARP4,D,Y,17:45,18:19,2017-11-11 00:00:00L1806
954690,2017-11-11,L1806,SEw4MDk1,ARP3,ARP4,D,Y,17:55,18:46,2017-11-11 00:00:00L1806
956493,2017-11-06,L1807,SEw4MDQ3,ARP4,ARP3,D,Y,19:15,20:00,2017-11-06 00:00:00L1807
956494,2017-11-06,L1807,SEw4MDMw,ARP4,ARP3,D,N,17:50,18:11,2017-11-06 00:00:00L1807
956495,2017-11-06,L1807,SEw4MDQ3,ARP3,ARP4,A,N,20:15,20:43,2017-11-06 00:00:00L1807
956496,2017-11-06,L1807,SEw4MDMw,ARP3,ARP4,A,N,18:50,19:01,2017-11-06 00:00:00L1807
956505,2017-11-11,L1807,SEw4MDAw,ARP4,ARP3,D,N,19:15,19:45,2017-11-11 00:00:00L1807
956506,2017-11-11,L1807,SEw4MDk1,ARP4,ARP3,D,N,20:05,20:16,2017-11-11 00:00:00L1807
956507,2017-11-11,L1807,SEw4MDAw,ARP3,ARP4,A,N,20:15,20:31,2017-11-11 00:00:00L1807
956508,2017-11-11,L1807,SEw4MDk1,ARP3,ARP4,A,N,21:05,21:02,2017-11-11 00:00:00L1807
956509,2017-11-12,L1807,SEw4MDI0,ARP4,ARP3,D,N,19:35,20:01,2017-11-12 00:00:00L1807
956510,2017-11-12,L1807,SEw4MDY3,ARP4,ARP3,D,N,17:50,17:59,2017-11-12 00:00:00L1807
956511,2017-11-12,L1807,SEw4MDI0,ARP3,ARP4,A,N,20:35,20:45,2017-11-12 00:00:00L1807
956512,2017-11-12,L1807,SEw4MDY3,ARP3,ARP4,A,N,18:50,18:42,2017-11-12 00:00:00L1807
958321,2017-11-11,L1808,SEw4MDAw,ARP4,ARP3,A,Y,21:45,22:20,2017-11-11 00:00:00L1808
958322,2017-11-11,L1808,SEw4MDk1,ARP4,ARP3,A,N,22:40,22:47,2017-11-11 00:00:00L1808
958323,2017-11-11,L1808,SEw4MDAw,ARP3,ARP4,D,Y,20:45,21:25,2017-11-11 00:00:00L1808
958324,2017-11-11,L1808,SEw4MDk1,ARP3,ARP4,D,N,21:40,21:52,2017-11-11 00:00:00L1808
958491,2018-02-05,L1808,SEw4MDg2,ARP4,ARP3,A,Y,21:55,23:17,2018-02-05 00:00:00L1808
958492,2018-02-05,L1808,SEw4MDY5,ARP4,ARP3,A,N,21:55,0:08,2018-02-05 00:00:00L1808
958493,2018-02-05,L1808,SEw4MDg2,ARP3,ARP4,D,Y,20:55,22:29,2018-02-05 00:00:00L1808
958494,2018-02-05,L1808,SEw4MDY5,ARP3,ARP4,D,N,0:10,0:29,2018-02-05 00:00:00L1808
958595,2018-03-29,L1808,SEw4MjY4,ARP4,ARP3,A,N,20:10,20:26,2018-03-29 00:00:00L1808
958596,2018-03-29,L1808,SEw4MjM1,ARP4,ARP3,A,N,21:00,21:16,2018-03-29 00:00:00L1808
958597,2018-03-29,L1808,SEw4MjY4,ARP3,ARP4,D,N,19:10,19:31,2018-03-29 00:00:00L1808
958598,2018-03-29,L1808,SEw4MjM1,ARP3,ARP4,D,N,19:55,20:21,2018-03-29 00:00:00L1808
967530,2019-04-24,L1902,SEw4MDg2,ARP8,ARP3,A,N,8:55,8:44,2019-04-24 00:00:00L1902
967531,2019-04-24,L1902,SEw4MDg2,ARP3,ARP8,D,N,8:05,8:18,2019-04-24 00:00:00L1902
967532,2019-04-24,L1902,SEw4MzAw,ARP2,ARP7,A,Y,19:20,20:25,2019-04-24 00:00:00L1902
967533,2019-04-24,L1902,SEw4MzAw,ARP7,ARP2,D,Y,18:50,19:52,2019-04-24 00:00:00L1902

In [22]:
# 두번 운행하는 편명은 Departure은 1, Arrival은 2로 DIRECTION을 잡으면 됨

rdata_go2.pivot_table(index='AOD',aggfunc='count',values='ATT')

        ATT
AOD
A    488008
D    488008

# 같은 항공편 - 같은 등록기호

In [23]:
a = rdata3.pivot_table(index=['DATE','FLT','REG'],aggfunc='count',values='STT')
len(a[a['STT']==1])
len(a[a['STT']==2])
len(a[a['STT']==3])
len(a[a['STT']==4])

2766

488321

2

8

In [24]:
go1 = a[a['STT']==1]
go1.reset_index(['DATE','FLT','REG'],inplace=True)
go2 = a[a['STT']==2]
go2.reset_index(['DATE','FLT','REG'],inplace=True)
go3 = a[a['STT']==3]
go3.reset_index(['DATE','FLT','REG'],inplace=True)
go4 = a[a['STT']==4]
go4.reset_index(['DATE','FLT','REG'],inplace=True)

In [25]:
# 편명의 운항횟수

len(go1) + len(go2)*2 + len(go3)*3 +len(go4)*4
len(rdata3)

979446

979446

In [26]:
go1_list =[]
for i in range(len(go1)):
    go1_list.append(str(go1.DATE[i])+str(go1.FLT[i])+str(go1.REG[i]))
    
go2_list = []
for i in range(len(go2)):
    go2_list.append(str(go2.DATE[i])+str(go2.FLT[i])+str(go2.REG[i]))
    
go3_list = []
for i in range(len(go3)):
    go3_list.append(str(go3.DATE[i])+str(go3.FLT[i])+str(go3.REG[i]))
    
go4_list = []
for i in range(len(go4)):
    go4_list.append(str(go4.DATE[i])+str(go4.FLT[i])+str(go4.REG[i]))

In [27]:
# 비교를 위한 DIR column

rdata4 = rdata3 
rdata4.index = list(range(len(rdata4)))

r_list = []
for i in range(len(rdata4)):
    r_list.append(str(rdata4.DATE[i])+str(rdata4.FLT[i])+str(rdata4.REG[i]))
rdata4['DIR'] = r_list

In [28]:
# 편명별로 데이터 저장

rdata_go1 = rdata4[rdata4.DIR.isin(go1_list)]
rdata_go2 = rdata4[rdata4.DIR.isin(go2_list)]
rdata_go3 = rdata4[rdata4.DIR.isin(go3_list)]
rdata_go4 = rdata4[rdata4.DIR.isin(go4_list)]

len(rdata_go1) + len(rdata_go2) + len(rdata_go3) +len(rdata_go4)

979446

In [29]:
rdata_go1

,DATE,FLT,REG,ARP,ODP,AOD,DLY,STT,ATT,DIR
2486,2017-05-13,A1107A,SEw3NzU0,ARP1,ARP15,A,Y,17:10,18:38,2017-05-13 00:00:00A1107ASEw3NzU0
6107,2017-07-12,A1123A,SEw4MjU3,ARP1,ARP15,D,Y,7:00,7:51,2017-07-12 00:00:00A1123ASEw4MjU3
51888,2017-05-13,A1336A,SEw3Nzg5,ARP1,ARP15,A,Y,17:10,18:03,2017-05-13 00:00:00A1336ASEw3Nzg5
51893,2018-08-28,A1360A,SEw4MDcx,ARP1,ARP15,D,Y,22:00,22:37,2018-08-28 00:00:00A1360ASEw4MDcx
51894,2018-06-13,A1373A,SEw3Nzg4,ARP6,ARP15,D,Y,18:30,19:37,2018-06-13 00:00:00A1373ASEw3Nzg4
54927,2018-01-12,A1450,SEw3Nzcz,ARP3,ARP15,D,Y,22:55,23:37,2018-01-12 00:00:00A1450SEw3Nzcz
54928,2018-01-13,A1450,SEw3Nzcz,ARP15,ARP3,A,N,0:05,0:29,2018-01-13 00:00:00A1450SEw3Nzcz
54937,2018-10-19,A1451,SEw4Mjc5,ARP3,ARP15,A,N,21:05,21:04,2018-10-19 00:00:00A1451SEw4Mjc5
54938,2018-10-21,A1451,SEw3Nzc1,ARP3,ARP15,A,Y,18:55,21:49,2018-10-21 00:00:00A1451SEw3Nzc1
54939,2019-03-21,A1451,SEw3NzU1,ARP3,ARP15,A,N,8:55,9:09,2019-03-21 00:00:00A1451SEw3NzU1
54944,2017-10-01,A1452,SEw4Mjkz,ARP3,ARP15,D,Y,18:30,20:18,2017-10-01 00:00:00A1452SEw4Mjkz
54945,2018-01-12,A1452,SEw3NTE0,ARP3,ARP15,D,N,22:55,23:17,2018-01-12 00:00:00A1452SEw3NTE0
54946,2018-01-13,A1452,SEw3NTE0,ARP15,ARP3,A,N,0:05,0:09,2018-01-13 00:00:00A1452SEw3NTE0
54965,2017-10-01,A1454,SEw3NTE0,ARP3,ARP15,D,Y,22:20,23:03,2017-10-01 00:00:00A1454SEw3NTE0
54970,2018-08-24,A1455,SEw4MDc0,ARP3,ARP15,A,N,9:10,9:34,2018-08-24 00:00:00A1455SEw4MDc0
54973,2017-10-01,A1456,SEw3NTA2,ARP3,ARP15,D,N,22:50,23:01,2017-10-01 00:00:00A1456SEw3NTA2
54984,2017-10-01,A1458,SEw3NTk0,ARP3,ARP15,D,N,22:00,22:25,2017-10-01 00:00:00A1458SEw3NTk0
54985,2018-01-12,A1458,SEw3NTA2,ARP3,ARP15,D,N,23:10,23:19,2018-01-12 00:00:00A1458SEw3NTA2
54986,2018-01-13,A1458,SEw3NTA2,ARP15,ARP3,A,N,0:20,0:11,2018-01-13 00:00:00A1458SEw3NTA2
54987,2018-08-24,A1459,SEw4MDA0,ARP3,ARP15,A,Y,17:10,17:47,2018-08-24 00:00:00A1459SEw4MDA0
54992,2018-10-21,A1461,SEw3Nzkx,ARP3,ARP15,A,Y,20:50,21:29,2018-10-21 00:00:00A1461SEw3Nzkx
54995,2018-08-24,A1463,SEw3NTE2,ARP3,ARP15,A,Y,17:30,18:41,2018-08-24 00:00:00A1463SEw3NTE2
55000,2018-01-12,A1470,SEw3NzM3,ARP3,ARP15,D,Y,22:35,23:56,2018-01-12 00:00:00A1470SEw3NzM3
55001,2018-01-13,A1470,SEw3NzM3,ARP15,ARP3,A,Y,0:00,0:43,2018-01-13 00:00:00A1470SEw3NzM3
55024,2018-02-04,A1476,SEw3Nzcy,ARP3,ARP15,D,N,23:20,1:14,2018-02-04 00:00:00A1476SEw3Nzcy
55025,2018-02-05,A1476,SEw3Nzcy,ARP15,ARP3,A,Y,1:30,2:03,2018-02-05 00:00:00A1476SEw3Nzcy
55034,2018-08-24,A1478,SEw3MjQ4,ARP3,ARP15,D,Y,22:45,23:31,2018-08-24 00:00:00A1478SEw3MjQ4
55035,2018-08-25,A1478,SEw3MjQ4,ARP15,ARP3,A,N,0:05,0:19,2018-08-25 00:00:00A1478SEw3MjQ4
55040,2019-01-14,A1480,SEw3NTA2,ARP3,ARP15,D,Y,22:35,23:09,2019-01-14 00:00:00A1480SEw3NTA2
55045,2018-01-12,A1482,SEw3NTI4,ARP3,ARP15,D,Y,20:00,23:15,2018-01-12 00:00:00A1482SEw3NTI4
...,...,...,...,...,...,...,...,...,...,...
896404,2017-10-18,L1012,SEw4MjUz,ARP2,ARP15,D,N,8:30,8:52,2017-10-18 00:00:00L1012SEw4MjUz
896405,2017-10-19,L1012,SEw4MjIw,ARP2,ARP15,D,N,22:35,22:26,2017-10-19 00:00:00L1012SEw4MjIw
896406,2017-10-22,L1012,SEw4MjM3,ARP2,ARP15,D,N,22:00,22:19,2017-10-22 00:00:00L1012SEw4MjM3
896407,2017-10-23,L1012,SEw4MjM3,ARP1,ARP15,A,N,19:20,19:29,2017-10-23 00:00:00L1012SEw4MjM3
896408,2017-10-25,L1012,SEw4MjM3,ARP2,ARP15,D,Y,8:30,9:05,2017-10-25 00:00:00L1012SEw4MjM3
896409,2017-10-26,L1012,SEw4MjIw,ARP2,ARP15,D,N,22:35,22:21,2017-10-26 00:00:00L1012SEw4MjIw
896410,2018-05-19,L1012,SEw4MjM1,ARP1,ARP15,A,N,7:50,7:19,2018-05-19 00:00:00L1012SEw4MjM1
896411,2017-07-18,L1013,SEw4MDg2,ARP4,ARP15,A,Y,7:00,8:05,2017-07-18 00:00:00L1013SEw4MDg2
896412,2017-07-24,L1013,SEw4MjM1,ARP1,ARP15,D,Y,18:40,19:14,2017-07-24 00:00:00L1013SEw4MjM1
896413,2017-08-08,L1013,SEw4MDk4,ARP3,ARP15,A,N,7:20,7:00,2017-08-08 00:00:00L1013SEw4MDk4
896416,2018-05-19,L1014,SEw4Mjk0,ARP1,ARP15,A,Y,6:20,7:02,2018-05-19 00:00:00L1014SEw4Mjk0
896421,2017-12-21,L1130,SEw4MDU2,ARP8,ARP15,A,Y,5:10,10:34,2017-12-21 00:00:00L1130SEw4MDU2
896428,2017-12-23,L1298,SEw4MDI0,ARP1,ARP15,D,Y,17:20,19:10,2017-12-23 00:00:00L1298SEw4MDI0
898989,2018-01-20,L1702,SEw4MDY5,ARP1,ARP15,A,Y,19:40,20:34,2018-01-20 00:00:00L1702SEw4MDY5
900830,2018-02-07,L1703,SEw4MDMw,ARP7,ARP15,A,Y,0:40,1:34,2018-02-07 00:00:00L1703SEw4MDMw
905783,2018-08-24,L1706,SEw4MDQ3,ARP3,ARP15,D,N,22:50,23:20,2018-08-24 00:00:00L1706SEw4MDQ3
905785,2018-08-25,L1706,SEw4MDQ3,ARP15,ARP3,A,N,0:05,0:15,2018-08-25 00:00:00L1706SEw4MDQ3
908309,2018-02-06,L1708,SEw4MjM1,ARP3,ARP15,D,Y,22:20,23:23,2018-02-06 00:00:00L1708SEw4MjM1
908311,2018-02-07,L1708,SEw4MjM1,ARP15,ARP3,A,N,0:05,0:11,2018-02-07 00:00:00L1708SEw4MjM1
926245,2017-09-29,L1722,SEw4MjIw,ARP3,ARP15,D,Y,22:15,23:15,2017-09-29 00:00:00L1722SEw4MjIw
926247,2017-09-30,L1722,SEw4MjIw,ARP15,ARP3,A,N,0:05,0:02,2017-09-30 00:00:00L1722SEw4MjIw
936991,2018-08-27,L1732,SEw4MDU2,ARP3,ARP15,D,Y,22:30,23:50,2018-08-27 00:00:00L1732SEw4MDU2
937128,2018-11-08,L1732,SEw4MjM3,ARP3,ARP15,D,N,23:10,23:40,2018-11-08 00:00:00L1732SEw4MjM3
937130,2018-11-09,L1732,SEw4MjM3,ARP15,ARP3,A,N,0:10,0:22,2018-11-09 00:00:00L1732SEw4MjM3
938270,2018-04-10,L1734,SEw4MDk1,ARP3,ARP15,D,Y,22:40,23:34,2018-04-10 00:00:00L1734SEw4MDk1
938272,2018-04-11,L1734,SEw4MDk1,ARP15,ARP3,A,N,0:10,0:26,2018-04-11 00:00:00L1734SEw4MDk1
948412,2018-10-06,L1802,SEw4MzAw,ARP4,ARP15,D,N,23:20,23:25,2018-10-06 00:00:00L1802SEw4MzAw
961165,2018-07-18,L1810,SEw4MDcw,ARP3,ARP4,D,Y,21:10,23:41,2018-07-18 00:00:00L1810SEw4MDcw
961850,2018-07-19,L1810A,SEw4MDcw,ARP4,ARP3,A,N,0:25,0:31,2018-07-19 00:00:00L1810ASEw4MDcw
962560,2017-07-16,L1813,SEw4MDQ3,ARP4,ARP15,A,Y,8:45,9:40,2017-07-16 00:00:00L1813SEw4MDQ3

In [30]:
# 6건.... 삭제

rdata_go3

,DATE,FLT,REG,ARP,ODP,AOD,DLY,STT,ATT,DIR
345289,2017-08-19,F1220T,SEw4MjA3,ARP10,ARP1,A,N,11:00,11:20,2017-08-19 00:00:00F1220TSEw4MjA3
345290,2017-08-19,F1220T,SEw4MjA3,ARP1,ARP10,D,N,10:20,10:22,2017-08-19 00:00:00F1220TSEw4MjA3
345291,2017-08-19,F1220T,SEw4MjA3,ARP1,ARP10,A,N,12:20,12:20,2017-08-19 00:00:00F1220TSEw4MjA3
570656,2018-02-05,I1330,SEw4MDE2,ARP1,ARP3,A,Y,21:40,22:51,2018-02-05 00:00:00I1330SEw4MDE2
570657,2018-02-05,I1330,SEw4MDE2,ARP15,ARP3,A,N,0:05,0:17,2018-02-05 00:00:00I1330SEw4MDE2
570658,2018-02-05,I1330,SEw4MDE2,ARP3,ARP1,D,Y,20:25,22:01,2018-02-05 00:00:00I1330SEw4MDE2

In [31]:
rdata_go2

,DATE,FLT,REG,ARP,ODP,AOD,DLY,STT,ATT,DIR
0,2017-01-01,A1001,SEw3Nzkw,ARP2,ARP3,D,N,8:30,8:45,2017-01-01 00:00:00A1001SEw3Nzkw
1,2017-01-01,A1001,SEw3Nzkw,ARP3,ARP2,A,N,9:20,9:24,2017-01-01 00:00:00A1001SEw3Nzkw
2,2017-01-03,A1001,SEw3Nzc2,ARP2,ARP3,D,N,19:00,19:17,2017-01-03 00:00:00A1001SEw3Nzc2
3,2017-01-03,A1001,SEw3Nzc2,ARP3,ARP2,A,N,19:50,19:57,2017-01-03 00:00:00A1001SEw3Nzc2
4,2017-01-05,A1001,SEw3Nzg4,ARP2,ARP3,D,N,8:30,8:44,2017-01-05 00:00:00A1001SEw3Nzg4
5,2017-01-05,A1001,SEw3Nzg4,ARP3,ARP2,A,N,9:20,9:26,2017-01-05 00:00:00A1001SEw3Nzg4
6,2017-01-08,A1001,SEw3Nzcy,ARP2,ARP3,D,N,8:30,8:42,2017-01-08 00:00:00A1001SEw3Nzcy
7,2017-01-08,A1001,SEw3Nzcy,ARP3,ARP2,A,N,9:20,9:21,2017-01-08 00:00:00A1001SEw3Nzcy
8,2017-01-10,A1001,SEw3Nzcz,ARP2,ARP3,D,N,19:00,19:06,2017-01-10 00:00:00A1001SEw3Nzcz
9,2017-01-10,A1001,SEw3Nzcz,ARP3,ARP2,A,N,19:50,19:47,2017-01-10 00:00:00A1001SEw3Nzcz
10,2017-01-12,A1001,SEw3NzY5,ARP2,ARP3,D,N,8:30,8:38,2017-01-12 00:00:00A1001SEw3NzY5
11,2017-01-12,A1001,SEw3NzY5,ARP3,ARP2,A,N,9:20,9:17,2017-01-12 00:00:00A1001SEw3NzY5
12,2017-01-15,A1001,SEw3Nzc2,ARP2,ARP3,D,N,8:30,8:40,2017-01-15 00:00:00A1001SEw3Nzc2
13,2017-01-15,A1001,SEw3Nzc2,ARP3,ARP2,A,N,9:20,9:27,2017-01-15 00:00:00A1001SEw3Nzc2
14,2017-01-17,A1001,SEw3Nzcz,ARP2,ARP3,D,N,19:00,19:06,2017-01-17 00:00:00A1001SEw3Nzcz
15,2017-01-17,A1001,SEw3Nzcz,ARP3,ARP2,A,N,19:50,19:53,2017-01-17 00:00:00A1001SEw3Nzcz
16,2017-01-19,A1001,SEw3Nzcy,ARP2,ARP3,D,N,8:30,8:45,2017-01-19 00:00:00A1001SEw3Nzcy
17,2017-01-19,A1001,SEw3Nzcy,ARP3,ARP2,A,N,9:20,9:22,2017-01-19 00:00:00A1001SEw3Nzcy
18,2017-01-22,A1001,SEw3Nzg4,ARP2,ARP3,D,N,8:30,8:38,2017-01-22 00:00:00A1001SEw3Nzg4
19,2017-01-22,A1001,SEw3Nzg4,ARP3,ARP2,A,N,9:20,9:13,2017-01-22 00:00:00A1001SEw3Nzg4
20,2017-01-24,A1001,SEw4MDM4,ARP2,ARP3,D,N,19:00,19:04,2017-01-24 00:00:00A1001SEw4MDM4
21,2017-01-24,A1001,SEw4MDM4,ARP3,ARP2,A,N,19:50,19:38,2017-01-24 00:00:00A1001SEw4MDM4
22,2017-01-26,A1001,SEw4MjY1,ARP2,ARP3,D,N,8:30,8:40,2017-01-26 00:00:00A1001SEw4MjY1
23,2017-01-26,A1001,SEw4MjY1,ARP3,ARP2,A,N,9:20,9:14,2017-01-26 00:00:00A1001SEw4MjY1
24,2017-01-29,A1001,SEw3Nzc2,ARP2,ARP3,D,N,8:30,8:41,2017-01-29 00:00:00A1001SEw3Nzc2
25,2017-01-29,A1001,SEw3Nzc2,ARP3,ARP2,A,N,9:20,9:30,2017-01-29 00:00:00A1001SEw3Nzc2
26,2017-01-31,A1001,SEw3Nzcz,ARP2,ARP3,D,N,19:00,19:09,2017-01-31 00:00:00A1001SEw3Nzcz
27,2017-01-31,A1001,SEw3Nzcz,ARP3,ARP2,A,N,19:50,19:46,2017-01-31 00:00:00A1001SEw3Nzcz
28,2017-02-02,A1001,SEw3NzM4,ARP2,ARP3,D,N,8:30,8:40,2017-02-02 00:00:00A1001SEw3NzM4
29,2017-02-02,A1001,SEw3NzM4,ARP3,ARP2,A,N,9:20,9:14,2017-02-02 00:00:00A1001SEw3NzM4
...,...,...,...,...,...,...,...,...,...,...
979416,2019-06-16,L1932,SEw4MzU0,ARP7,ARP3,A,N,19:00,18:46,2019-06-16 00:00:00L1932SEw4MzU0
979417,2019-06-16,L1932,SEw4MzU0,ARP3,ARP7,D,N,18:10,18:20,2019-06-16 00:00:00L1932SEw4MzU0
979418,2019-06-17,L1932,SEw4MzU0,ARP7,ARP3,A,N,19:00,19:01,2019-06-17 00:00:00L1932SEw4MzU0
979419,2019-06-17,L1932,SEw4MzU0,ARP3,ARP7,D,N,18:10,18:31,2019-06-17 00:00:00L1932SEw4MzU0
979420,2019-06-18,L1932,SEw4MzU0,ARP7,ARP3,A,N,19:00,19:01,2019-06-18 00:00:00L1932SEw4MzU0
979421,2019-06-18,L1932,SEw4MzU0,ARP3,ARP7,D,N,18:10,18:33,2019-06-18 00:00:00L1932SEw4MzU0
979422,2019-06-19,L1932,SEw4MDIx,ARP7,ARP3,A,N,19:00,18:53,2019-06-19 00:00:00L1932SEw4MDIx
979423,2019-06-19,L1932,SEw4MDIx,ARP3,ARP7,D,N,18:10,18:30,2019-06-19 00:00:00L1932SEw4MDIx
979424,2019-06-20,L1932,SEw4MDIx,ARP7,ARP3,A,N,19:00,19:03,2019-06-20 00:00:00L1932SEw4MDIx
979425,2019-06-20,L1932,SEw4MDIx,ARP3,ARP7,D,N,18:10,18:40,2019-06-20 00:00:00L1932SEw4MDIx
979426,2019-06-21,L1932,SEw4MjM1,ARP7,ARP3,A,N,19:00,18:52,2019-06-21 00:00:00L1932SEw4MjM1
979427,2019-06-21,L1932,SEw4MjM1,ARP3,ARP7,D,N,18:10,18:27,2019-06-21 00:00:00L1932SEw4MjM1
979428,2019-06-22,L1932,SEw4MzU0,ARP7,ARP3,A,N,19:00,18:56,2019-06-22 00:00:00L1932SEw4MzU0
979429,2019-06-22,L1932,SEw4MzU0,ARP3,ARP7,D,N,18:10,18:28,2019-06-22 00:00:00L1932SEw4MzU0
979430,2019-06-23,L1932,SEw4MDY3,ARP7,ARP3,A,N,19:00,19:17,2019-06-23 00:00:00L1932SEw4MDY3
979431,2019-06-23,L1932,SEw4MDY3,ARP3,ARP7,D,N,18:10,18:33,2019-06-23 00:00:00L1932SEw4MDY3
979432,2019-06-24,L1932,SEw4MDY3,ARP7,ARP3,A,N,19:00,18:54,2019-06-24 00:00:00L1932SEw4MDY3
979433,2019-06-24,L1932,SEw4MDY3,ARP3,ARP7,D,N,18:10,18:29,2019-06-24 00:00:00L1932SEw4MDY3
979434,2019-06-25,L1932,SEw4MDY3,ARP7,ARP3,A,N,19:00,19:04,2019-06-25 00:00:00L1932SEw4MDY3
979435,2019-06-25,L1932,SEw4MDY3,ARP3,ARP7,D,Y,18:10,18:41,2019-06-25 00:00:00L1932SEw4MDY3
979436,2019-06-26,L1932,SEw4MzU0,ARP7,ARP3,A,N,19:00,18:43,2019-06-26 00:00:00L1932SEw4MzU0
979437,2019-06-26,L1932,SEw4MzU0,ARP3,ARP7,D,N,18:10,18:19,2019-06-26 00:00:00L1932SEw4MzU0
979438,2019-06-27,L1932,SEw4MzU0,ARP7,ARP3,A,N,19:00,18:57,2019-06-27 00:00:00L1932SEw4MzU0
979439,2019-06-27,L1932,SEw4MzU0,ARP3,ARP7,D,N,18:10,18:37,2019-06-27 00:00:00L1932SEw4MzU0
979440,2019-06-28,L1932,SEw4MzU0,ARP7,ARP3,A,N,19:00,18:41,2019-06-28 00:00:00L1932SEw4MzU0
979441,2019-06-28,L1932,SEw4MzU0,ARP3,ARP7,D,N,18:10,18:20,2019-06-28 00:00:00L1932SEw4MzU0
979442,2019-06-29,L1932,SEw4MDk4,ARP7,ARP3,A,N,19:00,19:12,2019-06-29 00:00:00L1932SEw4MDk4
979443,2019-06-29,L1932,SEw4MDk4,ARP3,ARP7,D,Y,18:10,18:41,2019-06-29 00:00:00L1932SEw4MDk4
979444,2019-06-30,L1932,SEw4MzU0,ARP7,ARP3,A,N,19:00,19:01,2019-06-30 00:00:00L1932SEw4MzU0
979445,2019-06-30,L1932,SEw4MzU0,ARP3,ARP7,D,N,18:10,18:33,2019-06-30 00:00:00L1932SEw4MzU0

In [32]:
# 한 건 말고는 모두 하루에 두 번 운행하는 것
# 연결편, 즉 계속 연결돼서 노드 4까지 연결되는 편명은 하나이고 삭제
# 2018-02-05 데이터

rdata_go4

,DATE,FLT,REG,ARP,ODP,AOD,DLY,STT,ATT,DIR
901831,2019-06-30,L1703,SEw4MzU0,ARP1,ARP3,D,N,7:00,7:11,2019-06-30 00:00:00L1703SEw4MzU0
901832,2019-06-30,L1703,SEw4MzU0,ARP1,ARP3,D,N,16:00,16:13,2019-06-30 00:00:00L1703SEw4MzU0
901833,2019-06-30,L1703,SEw4MzU0,ARP3,ARP1,A,N,8:10,8:00,2019-06-30 00:00:00L1703SEw4MzU0
901834,2019-06-30,L1703,SEw4MzU0,ARP3,ARP1,A,N,17:10,17:23,2019-06-30 00:00:00L1703SEw4MzU0
906363,2019-06-04,L1706,SEw4MzU0,ARP1,ARP3,A,N,9:55,10:00,2019-06-04 00:00:00L1706SEw4MzU0
906364,2019-06-04,L1706,SEw4MzU0,ARP1,ARP3,A,N,18:40,18:35,2019-06-04 00:00:00L1706SEw4MzU0
906365,2019-06-04,L1706,SEw4MzU0,ARP3,ARP1,D,N,8:45,9:09,2019-06-04 00:00:00L1706SEw4MzU0
906366,2019-06-04,L1706,SEw4MzU0,ARP3,ARP1,D,N,17:30,17:51,2019-06-04 00:00:00L1706SEw4MzU0
907853,2019-06-28,L1707,SEw4MDk4,ARP1,ARP3,D,N,9:45,10:00,2019-06-28 00:00:00L1707SEw4MDk4
907854,2019-06-28,L1707,SEw4MDk4,ARP1,ARP3,D,N,18:00,18:09,2019-06-28 00:00:00L1707SEw4MDk4
907855,2019-06-28,L1707,SEw4MDk4,ARP3,ARP1,A,N,10:55,10:48,2019-06-28 00:00:00L1707SEw4MDk4
907856,2019-06-28,L1707,SEw4MDk4,ARP3,ARP1,A,N,19:10,18:58,2019-06-28 00:00:00L1707SEw4MDk4
918303,2017-02-09,L1716,SEw4MjUz,ARP1,ARP3,A,N,18:10,18:38,2017-02-09 00:00:00L1716SEw4MjUz
918304,2017-02-09,L1716,SEw4MjUz,ARP1,ARP3,A,N,21:55,22:10,2017-02-09 00:00:00L1716SEw4MjUz
918305,2017-02-09,L1716,SEw4MjUz,ARP3,ARP1,D,Y,17:05,17:44,2017-02-09 00:00:00L1716SEw4MjUz
918306,2017-02-09,L1716,SEw4MjUz,ARP3,ARP1,D,N,20:45,21:15,2017-02-09 00:00:00L1716SEw4MjUz
918329,2017-02-18,L1716,SEw4MjY4,ARP1,ARP3,A,Y,18:10,19:48,2017-02-18 00:00:00L1716SEw4MjY4
918330,2017-02-18,L1716,SEw4MjY4,ARP1,ARP3,A,N,22:20,22:46,2017-02-18 00:00:00L1716SEw4MjY4
918331,2017-02-18,L1716,SEw4MjY4,ARP3,ARP1,D,Y,17:05,18:54,2017-02-18 00:00:00L1716SEw4MjY4
918332,2017-02-18,L1716,SEw4MjY4,ARP3,ARP1,D,Y,21:10,21:53,2017-02-18 00:00:00L1716SEw4MjY4
922121,2018-02-05,L1718,SEw4MDY3,ARP1,ARP3,A,N,22:15,22:39,2018-02-05 00:00:00L1718SEw4MDY3
922122,2018-02-05,L1718,SEw4MDY3,ARP15,ARP3,A,N,1:30,1:28,2018-02-05 00:00:00L1718SEw4MDY3
922123,2018-02-05,L1718,SEw4MDY3,ARP3,ARP1,D,Y,21:05,21:46,2018-02-05 00:00:00L1718SEw4MDY3
922124,2018-02-05,L1718,SEw4MDY3,ARP3,ARP15,D,N,0:30,0:42,2018-02-05 00:00:00L1718SEw4MDY3
927953,2017-11-03,L1723,SEw4MDAw,ARP1,ARP3,D,N,9:35,9:57,2017-11-03 00:00:00L1723SEw4MDAw
927954,2017-11-03,L1723,SEw4MDAw,ARP1,ARP3,D,N,18:00,18:17,2017-11-03 00:00:00L1723SEw4MDAw
927955,2017-11-03,L1723,SEw4MDAw,ARP3,ARP1,A,N,10:45,10:47,2017-11-03 00:00:00L1723SEw4MDAw
927956,2017-11-03,L1723,SEw4MDAw,ARP3,ARP1,A,N,19:10,19:08,2017-11-03 00:00:00L1723SEw4MDAw
929107,2017-11-03,L1724,SEw4MDAw,ARP1,ARP3,A,N,12:45,12:33,2017-11-03 00:00:00L1724SEw4MDAw
929108,2017-11-03,L1724,SEw4MDAw,ARP1,ARP3,A,N,20:50,20:52,2017-11-03 00:00:00L1724SEw4MDAw
929109,2017-11-03,L1724,SEw4MDAw,ARP3,ARP1,D,N,11:35,11:46,2017-11-03 00:00:00L1724SEw4MDAw
929110,2017-11-03,L1724,SEw4MDAw,ARP3,ARP1,D,N,19:40,20:03,2017-11-03 00:00:00L1724SEw4MDAw

# 한 번 운행하는 것 전처리, 시간차로 인한 것은 수작업으로 처리

In [33]:
# go1번 데이터 전처리
# 한 번 운행하는 것인데, 출발과 도착으로 나뉜경우는...
# 일단은 링크 0으로 처리
# 두 번 운행하지만(왕복운행) 시간차로 인해 이틀에 걸친 경우는 출발은 0, 도착은 1 

rdata_go1

,DATE,FLT,REG,ARP,ODP,AOD,DLY,STT,ATT,DIR
2486,2017-05-13,A1107A,SEw3NzU0,ARP1,ARP15,A,Y,17:10,18:38,2017-05-13 00:00:00A1107ASEw3NzU0
6107,2017-07-12,A1123A,SEw4MjU3,ARP1,ARP15,D,Y,7:00,7:51,2017-07-12 00:00:00A1123ASEw4MjU3
51888,2017-05-13,A1336A,SEw3Nzg5,ARP1,ARP15,A,Y,17:10,18:03,2017-05-13 00:00:00A1336ASEw3Nzg5
51893,2018-08-28,A1360A,SEw4MDcx,ARP1,ARP15,D,Y,22:00,22:37,2018-08-28 00:00:00A1360ASEw4MDcx
51894,2018-06-13,A1373A,SEw3Nzg4,ARP6,ARP15,D,Y,18:30,19:37,2018-06-13 00:00:00A1373ASEw3Nzg4
54927,2018-01-12,A1450,SEw3Nzcz,ARP3,ARP15,D,Y,22:55,23:37,2018-01-12 00:00:00A1450SEw3Nzcz
54928,2018-01-13,A1450,SEw3Nzcz,ARP15,ARP3,A,N,0:05,0:29,2018-01-13 00:00:00A1450SEw3Nzcz
54937,2018-10-19,A1451,SEw4Mjc5,ARP3,ARP15,A,N,21:05,21:04,2018-10-19 00:00:00A1451SEw4Mjc5
54938,2018-10-21,A1451,SEw3Nzc1,ARP3,ARP15,A,Y,18:55,21:49,2018-10-21 00:00:00A1451SEw3Nzc1
54939,2019-03-21,A1451,SEw3NzU1,ARP3,ARP15,A,N,8:55,9:09,2019-03-21 00:00:00A1451SEw3NzU1
54944,2017-10-01,A1452,SEw4Mjkz,ARP3,ARP15,D,Y,18:30,20:18,2017-10-01 00:00:00A1452SEw4Mjkz
54945,2018-01-12,A1452,SEw3NTE0,ARP3,ARP15,D,N,22:55,23:17,2018-01-12 00:00:00A1452SEw3NTE0
54946,2018-01-13,A1452,SEw3NTE0,ARP15,ARP3,A,N,0:05,0:09,2018-01-13 00:00:00A1452SEw3NTE0
54965,2017-10-01,A1454,SEw3NTE0,ARP3,ARP15,D,Y,22:20,23:03,2017-10-01 00:00:00A1454SEw3NTE0
54970,2018-08-24,A1455,SEw4MDc0,ARP3,ARP15,A,N,9:10,9:34,2018-08-24 00:00:00A1455SEw4MDc0
54973,2017-10-01,A1456,SEw3NTA2,ARP3,ARP15,D,N,22:50,23:01,2017-10-01 00:00:00A1456SEw3NTA2
54984,2017-10-01,A1458,SEw3NTk0,ARP3,ARP15,D,N,22:00,22:25,2017-10-01 00:00:00A1458SEw3NTk0
54985,2018-01-12,A1458,SEw3NTA2,ARP3,ARP15,D,N,23:10,23:19,2018-01-12 00:00:00A1458SEw3NTA2
54986,2018-01-13,A1458,SEw3NTA2,ARP15,ARP3,A,N,0:20,0:11,2018-01-13 00:00:00A1458SEw3NTA2
54987,2018-08-24,A1459,SEw4MDA0,ARP3,ARP15,A,Y,17:10,17:47,2018-08-24 00:00:00A1459SEw4MDA0
54992,2018-10-21,A1461,SEw3Nzkx,ARP3,ARP15,A,Y,20:50,21:29,2018-10-21 00:00:00A1461SEw3Nzkx
54995,2018-08-24,A1463,SEw3NTE2,ARP3,ARP15,A,Y,17:30,18:41,2018-08-24 00:00:00A1463SEw3NTE2
55000,2018-01-12,A1470,SEw3NzM3,ARP3,ARP15,D,Y,22:35,23:56,2018-01-12 00:00:00A1470SEw3NzM3
55001,2018-01-13,A1470,SEw3NzM3,ARP15,ARP3,A,Y,0:00,0:43,2018-01-13 00:00:00A1470SEw3NzM3
55024,2018-02-04,A1476,SEw3Nzcy,ARP3,ARP15,D,N,23:20,1:14,2018-02-04 00:00:00A1476SEw3Nzcy
55025,2018-02-05,A1476,SEw3Nzcy,ARP15,ARP3,A,Y,1:30,2:03,2018-02-05 00:00:00A1476SEw3Nzcy
55034,2018-08-24,A1478,SEw3MjQ4,ARP3,ARP15,D,Y,22:45,23:31,2018-08-24 00:00:00A1478SEw3MjQ4
55035,2018-08-25,A1478,SEw3MjQ4,ARP15,ARP3,A,N,0:05,0:19,2018-08-25 00:00:00A1478SEw3MjQ4
55040,2019-01-14,A1480,SEw3NTA2,ARP3,ARP15,D,Y,22:35,23:09,2019-01-14 00:00:00A1480SEw3NTA2
55045,2018-01-12,A1482,SEw3NTI4,ARP3,ARP15,D,Y,20:00,23:15,2018-01-12 00:00:00A1482SEw3NTI4
...,...,...,...,...,...,...,...,...,...,...
896404,2017-10-18,L1012,SEw4MjUz,ARP2,ARP15,D,N,8:30,8:52,2017-10-18 00:00:00L1012SEw4MjUz
896405,2017-10-19,L1012,SEw4MjIw,ARP2,ARP15,D,N,22:35,22:26,2017-10-19 00:00:00L1012SEw4MjIw
896406,2017-10-22,L1012,SEw4MjM3,ARP2,ARP15,D,N,22:00,22:19,2017-10-22 00:00:00L1012SEw4MjM3
896407,2017-10-23,L1012,SEw4MjM3,ARP1,ARP15,A,N,19:20,19:29,2017-10-23 00:00:00L1012SEw4MjM3
896408,2017-10-25,L1012,SEw4MjM3,ARP2,ARP15,D,Y,8:30,9:05,2017-10-25 00:00:00L1012SEw4MjM3
896409,2017-10-26,L1012,SEw4MjIw,ARP2,ARP15,D,N,22:35,22:21,2017-10-26 00:00:00L1012SEw4MjIw
896410,2018-05-19,L1012,SEw4MjM1,ARP1,ARP15,A,N,7:50,7:19,2018-05-19 00:00:00L1012SEw4MjM1
896411,2017-07-18,L1013,SEw4MDg2,ARP4,ARP15,A,Y,7:00,8:05,2017-07-18 00:00:00L1013SEw4MDg2
896412,2017-07-24,L1013,SEw4MjM1,ARP1,ARP15,D,Y,18:40,19:14,2017-07-24 00:00:00L1013SEw4MjM1
896413,2017-08-08,L1013,SEw4MDk4,ARP3,ARP15,A,N,7:20,7:00,2017-08-08 00:00:00L1013SEw4MDk4
896416,2018-05-19,L1014,SEw4Mjk0,ARP1,ARP15,A,Y,6:20,7:02,2018-05-19 00:00:00L1014SEw4Mjk0
896421,2017-12-21,L1130,SEw4MDU2,ARP8,ARP15,A,Y,5:10,10:34,2017-12-21 00:00:00L1130SEw4MDU2
896428,2017-12-23,L1298,SEw4MDI0,ARP1,ARP15,D,Y,17:20,19:10,2017-12-23 00:00:00L1298SEw4MDI0
898989,2018-01-20,L1702,SEw4MDY5,ARP1,ARP15,A,Y,19:40,20:34,2018-01-20 00:00:00L1702SEw4MDY5
900830,2018-02-07,L1703,SEw4MDMw,ARP7,ARP15,A,Y,0:40,1:34,2018-02-07 00:00:00L1703SEw4MDMw
905783,2018-08-24,L1706,SEw4MDQ3,ARP3,ARP15,D,N,22:50,23:20,2018-08-24 00:00:00L1706SEw4MDQ3
905785,2018-08-25,L1706,SEw4MDQ3,ARP15,ARP3,A,N,0:05,0:15,2018-08-25 00:00:00L1706SEw4MDQ3
908309,2018-02-06,L1708,SEw4MjM1,ARP3,ARP15,D,Y,22:20,23:23,2018-02-06 00:00:00L1708SEw4MjM1
908311,2018-02-07,L1708,SEw4MjM1,ARP15,ARP3,A,N,0:05,0:11,2018-02-07 00:00:00L1708SEw4MjM1
926245,2017-09-29,L1722,SEw4MjIw,ARP3,ARP15,D,Y,22:15,23:15,2017-09-29 00:00:00L1722SEw4MjIw
926247,2017-09-30,L1722,SEw4MjIw,ARP15,ARP3,A,N,0:05,0:02,2017-09-30 00:00:00L1722SEw4MjIw
936991,2018-08-27,L1732,SEw4MDU2,ARP3,ARP15,D,Y,22:30,23:50,2018-08-27 00:00:00L1732SEw4MDU2
937128,2018-11-08,L1732,SEw4MjM3,ARP3,ARP15,D,N,23:10,23:40,2018-11-08 00:00:00L1732SEw4MjM3
937130,2018-11-09,L1732,SEw4MjM3,ARP15,ARP3,A,N,0:10,0:22,2018-11-09 00:00:00L1732SEw4MjM3
938270,2018-04-10,L1734,SEw4MDk1,ARP3,ARP15,D,Y,22:40,23:34,2018-04-10 00:00:00L1734SEw4MDk1
938272,2018-04-11,L1734,SEw4MDk1,ARP15,ARP3,A,N,0:10,0:26,2018-04-11 00:00:00L1734SEw4MDk1
948412,2018-10-06,L1802,SEw4MzAw,ARP4,ARP15,D,N,23:20,23:25,2018-10-06 00:00:00L1802SEw4MzAw
961165,2018-07-18,L1810,SEw4MDcw,ARP3,ARP4,D,Y,21:10,23:41,2018-07-18 00:00:00L1810SEw4MDcw
961850,2018-07-19,L1810A,SEw4MDcw,ARP4,ARP3,A,N,0:25,0:31,2018-07-19 00:00:00L1810ASEw4MDcw
962560,2017-07-16,L1813,SEw4MDQ3,ARP4,ARP15,A,Y,8:45,9:40,2017-07-16 00:00:00L1813SEw4MDQ3

In [34]:
a = rdata_go1.pivot_table(index=['FLT','REG'],aggfunc='count',values='DLY')
a.reset_index(['FLT','REG'],inplace=True)

In [35]:
aa = pd.read_csv('bigcontest/asd.csv')
aa.set_index('Unnamed: 0',inplace=True)

In [36]:
len(rdata_go1[rdata_go1.index.isin(aa.index)]) + len(rdata_go1[~(rdata_go1.index.isin(aa.index))])

2766

In [37]:
aa

,DATE,FLT,REG,ARP,ODP,AOD,DLY,STT,ATT,DIR,DIRE
Unnamed: 0,,,,,,,,,,,
5,2018-01-12,A1450,SEw3Nzcz,ARP3,ARP15,D,Y,22:55,23:37,2018-01-12 00:00:00A1450SEw3Nzcz,A1450SEw3Nzcz
6,2018-01-13,A1450,SEw3Nzcz,ARP15,ARP3,A,N,0:05,0:29,2018-01-13 00:00:00A1450SEw3Nzcz,A1450SEw3Nzcz
11,2018-01-12,A1452,SEw3NTE0,ARP3,ARP15,D,N,22:55,23:17,2018-01-12 00:00:00A1452SEw3NTE0,A1452SEw3NTE0
12,2018-01-13,A1452,SEw3NTE0,ARP15,ARP3,A,N,0:05,0:09,2018-01-13 00:00:00A1452SEw3NTE0,A1452SEw3NTE0
17,2018-01-12,A1458,SEw3NTA2,ARP3,ARP15,D,N,23:10,23:19,2018-01-12 00:00:00A1458SEw3NTA2,A1458SEw3NTA2
18,2018-01-13,A1458,SEw3NTA2,ARP15,ARP3,A,N,0:20,0:11,2018-01-13 00:00:00A1458SEw3NTA2,A1458SEw3NTA2
22,2018-01-12,A1470,SEw3NzM3,ARP3,ARP15,D,Y,22:35,23:56,2018-01-12 00:00:00A1470SEw3NzM3,A1470SEw3NzM3
23,2018-01-13,A1470,SEw3NzM3,ARP15,ARP3,A,Y,0:00,0:43,2018-01-13 00:00:00A1470SEw3NzM3,A1470SEw3NzM3
24,2018-02-04,A1476,SEw3Nzcy,ARP3,ARP15,D,N,23:20,1:14,2018-02-04 00:00:00A1476SEw3Nzcy,A1476SEw3Nzcy
25,2018-02-05,A1476,SEw3Nzcy,ARP15,ARP3,A,Y,1:30,2:03,2018-02-05 00:00:00A1476SEw3Nzcy,A1476SEw3Nzcy
26,2018-08-24,A1478,SEw3MjQ4,ARP3,ARP15,D,Y,22:45,23:31,2018-08-24 00:00:00A1478SEw3MjQ4,A1478SEw3MjQ4
27,2018-08-25,A1478,SEw3MjQ4,ARP15,ARP3,A,N,0:05,0:19,2018-08-25 00:00:00A1478SEw3MjQ4,A1478SEw3MjQ4
29,2018-01-12,A1482,SEw3NTI4,ARP3,ARP15,D,Y,20:00,23:15,2018-01-12 00:00:00A1482SEw3NTI4,A1482SEw3NTI4
30,2018-01-13,A1482,SEw3NTI4,ARP15,ARP3,A,N,0:00,0:05,2018-01-13 00:00:00A1482SEw3NTI4,A1482SEw3NTI4
31,2018-02-04,A1484,SEw3MjQ3,ARP3,ARP15,D,N,22:00,0:11,2018-02-04 00:00:00A1484SEw3MjQ3,A1484SEw3MjQ3
32,2018-02-05,A1484,SEw3MjQ3,ARP15,ARP3,A,N,1:30,0:58,2018-02-05 00:00:00A1484SEw3MjQ3,A1484SEw3MjQ3
33,2018-02-04,A1488,SEw3NzAz,ARP3,ARP15,D,N,22:40,0:36,2018-02-04 00:00:00A1488SEw3NzAz,A1488SEw3NzAz
34,2018-02-05,A1488,SEw3NzAz,ARP15,ARP3,A,N,1:30,1:25,2018-02-05 00:00:00A1488SEw3NzAz,A1488SEw3NzAz
35,2018-11-04,A1488,SEw4MDM4,ARP3,ARP15,D,N,23:25,23:22,2018-11-04 00:00:00A1488SEw4MDM4,A1488SEw4MDM4
36,2018-11-05,A1488,SEw4MDM4,ARP15,ARP3,A,N,0:40,0:04,2018-11-05 00:00:00A1488SEw4MDM4,A1488SEw4MDM4
38,2018-04-09,A1492,SEw3MjQ4,ARP3,ARP15,D,N,23:00,23:16,2018-04-09 00:00:00A1492SEw3MjQ4,A1492SEw3MjQ4
39,2018-04-10,A1492,SEw3MjQ4,ARP15,ARP3,A,N,0:10,0:01,2018-04-10 00:00:00A1492SEw3MjQ4,A1492SEw3MjQ4
40,2018-04-10,A1494,SEw3NTE0,ARP3,ARP15,D,Y,22:45,23:46,2018-04-10 00:00:00A1494SEw3NTE0,A1494SEw3NTE0
41,2018-04-11,A1494,SEw3NTE0,ARP15,ARP3,A,N,0:10,0:36,2018-04-11 00:00:00A1494SEw3NTE0,A1494SEw3NTE0
45,2018-08-10,A1496,SEw3NTA2,ARP3,ARP15,D,N,23:30,23:39,2018-08-10 00:00:00A1496SEw3NTA2,A1496SEw3NTA2
46,2018-08-11,A1496,SEw3NTA2,ARP15,ARP3,A,N,0:40,0:20,2018-08-11 00:00:00A1496SEw3NTA2,A1496SEw3NTA2
48,2018-04-16,A1498,SEw3NTA2,ARP3,ARP15,D,N,23:35,23:32,2018-04-16 00:00:00A1498SEw3NTA2,A1498SEw3NTA2
49,2018-04-17,A1498,SEw3NTA2,ARP15,ARP3,A,N,0:45,0:12,2018-04-17 00:00:00A1498SEw3NTA2,A1498SEw3NTA2
54,2017-08-31,A1584,SEw3Nzc2,ARP3,ARP15,D,N,23:30,23:54,2017-08-31 00:00:00A1584SEw3Nzc2,A1584SEw3Nzc2
55,2017-09-01,A1584,SEw3Nzc2,ARP15,ARP3,A,N,0:35,0:38,2017-09-01 00:00:00A1584SEw3Nzc2,A1584SEw3Nzc2
...,...,...,...,...,...,...,...,...,...,...,...
1145,2018-01-12,H1066,SEw4MDQ5,ARP3,ARP15,D,Y,22:45,23:21,2018-01-12 00:00:00H1066SEw4MDQ5,H1066SEw4MDQ5
1146,2018-01-13,H1066,SEw4MDQ5,ARP15,ARP3,A,N,0:05,0:21,2018-01-13 00:00:00H1066SEw4MDQ5,H1066SEw4MDQ5
1148,2018-02-04,H1072,SEw4Mjk3,ARP3,ARP15,D,Y,23:10,23:54,2018-02-04 00:00:00H1072SEw4Mjk3,H1072SEw4Mjk3
1149,2018-02-05,H1072,SEw4Mjk3,ARP15,ARP3,A,Y,0:15,0:46,2018-02-05 00:00:00H1072SEw4Mjk3,H1072SEw4Mjk3
1320,2018-12-25,H1682,SEw3MjEz,ARP3,ARP7,D,N,23:35,23:59,2018-12-25 00:00:00H1682SEw3MjEz,H1682SEw3MjEz
1321,2018-12-26,H1682,SEw3MjEz,ARP7,ARP3,A,N,0:25,0:23,2018-12-26 00:00:00H1682SEw3MjEz,H1682SEw3MjEz
1338,2018-02-06,H1808,SEw4MDUx,ARP3,ARP6,D,Y,21:20,23:33,2018-02-06 00:00:00H1808SEw4MDUx,H1808SEw4MDUx
1339,2018-02-07,H1808,SEw4MDUx,ARP6,ARP3,A,N,0:30,0:22,2018-02-07 00:00:00H1808SEw4MDUx,H1808SEw4MDUx
1454,2018-08-29,I1414,SEw3NTU4,ARP3,ARP15,D,Y,22:40,23:31,2018-08-29 00:00:00I1414SEw3NTU4,I1414SEw3NTU4
1455,2018-08-30,I1414,SEw3NTU4,ARP15,ARP3,A,N,0:05,0:13,2018-08-30 00:00:00I1414SEw3NTU4,I1414SEw3NTU4
1456,2018-08-24,I1416,SEw3NTU4,ARP3,ARP15,D,Y,22:35,23:16,2018-08-24 00:00:00I1416SEw3NTU4,I1416SEw3NTU4
1457,2018-08-25,I1416,SEw3NTU4,ARP15,ARP3,A,N,0:05,0:02,2018-08-25 00:00:00I1416SEw3NTU4,I1416SEw3NTU4
1458,2018-08-29,I1416,SEw4MDEz,ARP3,ARP15,D,Y,22:55,23:32,2018-08-29 00:00:00I1416SEw4MDEz,I1416SEw4MDEz
1459,2018-08-30,I1416,SEw4MDEz,ARP15,ARP3,A,N,0:05,0:15,2018-08-30 00:00:00I1416SEw4MDEz,I1416SEw4MDEz
1460,2017-10-01,I1559,SEw3NTYz,ARP6,ARP3,D,Y,19:15,22:51,2017-10-01 00:00:00I1559SEw3NTYz,I1559SEw3NTYz
1461,2017-10-02,I1559,SEw3NTYz,ARP3,ARP6,A,N,20:25,0:05,2017-10-02 00:00:00I1559SEw3NTYz,I1559SEw3NTYz
2316,2018-08-12,J1475,SEw3NDYw,ARP3,ARP15,D,N,23:40,23:52,2018-08-12 00:00:00J1475SEw3NDYw,J1475SEw3NDYw
2317,2018-08-13,J1475,SEw3NDYw,ARP15,ARP3,A,N,0:50,0:30,2018-08-13 00:00:00J1475SEw3NDYw,J1475SEw3NDYw
2319,2018-08-29,J1485,SEw3NTg0,ARP3,ARP15,D,N,23:10,23:34,2018-08-29 00:00:00J1485SEw3NTg0,J1485SEw3NTg0
2320,2018-08-30,J1485,SEw3NTg0,ARP15,ARP3,A,N,0:15,0:20,2018-08-30 00:00:00J1485SEw3NTg0,J1485SEw3NTg0
2751,2018-08-24,L1706,SEw4MDQ3,ARP3,ARP15,D,N,22:50,23:20,2018-08-24 00:00:00L1706SEw4MDQ3,L1706SEw4MDQ3
2752,2018-08-25,L1706,SEw4MDQ3,ARP15,ARP3,A,N,0:05,0:15,2018-08-25 00:00:00L1706SEw4MDQ3,L1706SEw4MDQ3
2753,2018-02-06,L1708,SEw4MjM1,ARP3,ARP15,D,Y,22:20,23:23,2018-02-06 00:00:00L1708SEw4MjM1,L1708SEw4MjM1
2754,2018-02-07,L1708,SEw4MjM1,ARP15,ARP3,A,N,0:05,0:11,2018-02-07 00:00:00L1708SEw4MjM1,L1708SEw4MjM1
2755,2017-09-29,L1722,SEw4MjIw,ARP3,ARP15,D,Y,22:15,23:15,2017-09-29 00:00:00L1722SEw4MjIw,L1722SEw4MjIw
2756,2017-09-30,L1722,SEw4MjIw,ARP15,ARP3,A,N,0:05,0:02,2017-09-30 00:00:00L1722SEw4MjIw,L1722SEw4MjIw
2758,2018-11-08,L1732,SEw4MjM3,ARP3,ARP15,D,N,23:10,23:40,2018-11-08 00:00:00L1732SEw4MjM3,L1732SEw4MjM3
2759,2018-11-09,L1732,SEw4MjM3,ARP15,ARP3,A,N,0:10,0:22,2018-11-09 00:00:00L1732SEw4MjM3,L1732SEw4MjM3
2760,2018-04-10,L1734,SEw4MDk1,ARP3,ARP15,D,Y,22:40,23:34,2018-04-10 00:00:00L1734SEw4MDk1,L1734SEw4MDk1
2761,2018-04-11,L1734,SEw4MDk1,ARP15,ARP3,A,N,0:10,0:26,2018-04-11 00:00:00L1734SEw4MDk1,L1734SEw4MDk1

In [38]:
a2 = a[a['DLY']!=1]
a2.index = list(range(len(a2)))
dire = []
for i in range(len(a2)):
    dire.append(str(a2.FLT[i])+str(a2.REG[i]))
a2['DIRE'] = dire

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [39]:
dire = []
rdata_go1.index = list(range(len(rdata_go1)))
for i in range(len(rdata_go1)):
    dire.append(str(rdata_go1.FLT[i])+str(rdata_go1.REG[i]))
rdata_go1['DIRE'] = dire

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [40]:
len(rdata_go1)
len(rdata_go1[rdata_go1.DIRE.isin(a2.DIRE)]) + len(rdata_go1[~(rdata_go1.DIRE.isin(a2.DIRE))])

2766

2766

In [41]:
# 한 번 가지만 시간차로 사실은 왕복인 데이터

link_go1_1 = rdata_go1[rdata_go1.index.isin(aa.index)]
link_go1_1.pivot_table(index='AOD',aggfunc='count',values='DLY')
# 한 번만 가는 경우

link_go1_2 = rdata_go1[~(rdata_go1.index.isin(aa.index))]

     DLY
AOD
A     43
D     43

In [42]:
# link_go1_1 전처리

AOD = {'D':0, 'A': 1}
link_go1_1['AOD2'] = link_go1_1.AOD.map(AOD)
link_go1_1 = link_go1_1[['DATE','FLT','REG','ARP','ODP','AOD','AOD2','DLY']]

# link_go1_2 전처리

AOD = {'D':0, 'A':0}
link_go1_2['AOD2'] = link_go1_2.AOD.map(AOD)
link_go1_2 = link_go1_2[['DATE','FLT','REG','ARP','ODP','AOD','AOD2','DLY']]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [43]:
link_go1_2[link_go1_2['ARP']=='ARP15']

           DATE    FLT       REG    ARP   ODP AOD  AOD2 DLY
1875 2018-02-05  J1241  SEw4MjIx  ARP15  ARP3   A     0   N
1877 2018-02-07  J1245  SEw3NzUy  ARP15  ARP3   A     0   N
2315 2018-04-14  J1473  SEw3MjAx  ARP15  ARP3   A     0   N
2493 2018-01-31  J1619  SEw4MDkz  ARP15  ARP5   A     0   N

# 하루에 두 번 운행하는 것 전처리

In [44]:
# go2번 데이터 전처리
# 출발은 링크 0, 도착은 1 

rdata_go2.pivot_table(index='AOD',aggfunc='count',values='DLY')

        DLY
AOD
A    488321
D    488321

In [45]:
# link_go2 전처리

link_go2 = rdata_go2

AOD = {'D':0, 'A': 1}
link_go2['AOD2'] = link_go2.AOD.map(AOD)
link_go2 = link_go2[['DATE','FLT','REG','ARP','ODP','AOD','AOD2','DLY']]
link_go2.pivot_table(index='AOD2',aggfunc='count',values='DLY')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

         DLY
AOD2
0     488321
1     488321

In [ ]:
# 3번 가는 것은 삭제

In [46]:
# go3번 데이터 전처리
# 6건은 그냥 삭제처리

rdata_go3

,DATE,FLT,REG,ARP,ODP,AOD,DLY,STT,ATT,DIR
345289,2017-08-19,F1220T,SEw4MjA3,ARP10,ARP1,A,N,11:00,11:20,2017-08-19 00:00:00F1220TSEw4MjA3
345290,2017-08-19,F1220T,SEw4MjA3,ARP1,ARP10,D,N,10:20,10:22,2017-08-19 00:00:00F1220TSEw4MjA3
345291,2017-08-19,F1220T,SEw4MjA3,ARP1,ARP10,A,N,12:20,12:20,2017-08-19 00:00:00F1220TSEw4MjA3
570656,2018-02-05,I1330,SEw4MDE2,ARP1,ARP3,A,Y,21:40,22:51,2018-02-05 00:00:00I1330SEw4MDE2
570657,2018-02-05,I1330,SEw4MDE2,ARP15,ARP3,A,N,0:05,0:17,2018-02-05 00:00:00I1330SEw4MDE2
570658,2018-02-05,I1330,SEw4MDE2,ARP3,ARP1,D,Y,20:25,22:01,2018-02-05 00:00:00I1330SEw4MDE2

# 4번 움직이는 것, 즉, 연결되지 않고 하루에 두 번 운행하는 것만 포함

In [47]:
# go4번 데이터 전처리 
# 출발은 0, 도착은 1

link_go4 = rdata_go4[rdata_go4['DATE']!='2018-02-05']
len(link_go4)

28

In [48]:
# link_go4 전처리

AOD = {'D':0, 'A': 1}
link_go4['AOD2'] = link_go4.AOD.map(AOD)
link_go4 = link_go4[['DATE','FLT','REG','ARP','ODP','AOD','AOD2','DLY']]
link_go4.pivot_table(index='AOD2',aggfunc='count',values='DLY')
link_go4

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

      DLY
AOD2
0      14
1      14

             DATE    FLT       REG   ARP   ODP AOD  AOD2 DLY
901831 2019-06-30  L1703  SEw4MzU0  ARP1  ARP3   D     0   N
901832 2019-06-30  L1703  SEw4MzU0  ARP1  ARP3   D     0   N
901833 2019-06-30  L1703  SEw4MzU0  ARP3  ARP1   A     1   N
901834 2019-06-30  L1703  SEw4MzU0  ARP3  ARP1   A     1   N
906363 2019-06-04  L1706  SEw4MzU0  ARP1  ARP3   A     1   N
906364 2019-06-04  L1706  SEw4MzU0  ARP1  ARP3   A     1   N
906365 2019-06-04  L1706  SEw4MzU0  ARP3  ARP1   D     0   N
906366 2019-06-04  L1706  SEw4MzU0  ARP3  ARP1   D     0   N
907853 2019-06-28  L1707  SEw4MDk4  ARP1  ARP3   D     0   N
907854 2019-06-28  L1707  SEw4MDk4  ARP1  ARP3   D     0   N
907855 2019-06-28  L1707  SEw4MDk4  ARP3  ARP1   A     1   N
907856 2019-06-28  L1707  SEw4MDk4  ARP3  ARP1   A     1   N
918303 2017-02-09  L1716  SEw4MjUz  ARP1  ARP3   A     1   N
918304 2017-02-09  L1716  SEw4MjUz  ARP1  ARP3   A     1   N
918305 2017-02-09  L1716  SEw4MjUz  ARP3  ARP1   D     0   Y
918306 2017-02-09  L1716  SEw4MjUz  ARP3  ARP1   D     0   N
918329 2017-02-18  L1716  SEw4MjY4  ARP1  ARP3   A     1   Y
918330 2017-02-18  L1716  SEw4MjY4  ARP1  ARP3   A     1   N
918331 2017-02-18  L1716  SEw4MjY4  ARP3  ARP1   D     0   Y
918332 2017-02-18  L1716  SEw4MjY4  ARP3  ARP1   D     0   Y
927953 2017-11-03  L1723  SEw4MDAw  ARP1  ARP3   D     0   N
927954 2017-11-03  L1723  SEw4MDAw  ARP1  ARP3   D     0   N
927955 2017-11-03  L1723  SEw4MDAw  ARP3  ARP1   A     1   N
927956 2017-11-03  L1723  SEw4MDAw  ARP3  ARP1   A     1   N
929107 2017-11-03  L1724  SEw4MDAw  ARP1  ARP3   A     1   N
929108 2017-11-03  L1724  SEw4MDAw  ARP1  ARP3   A     1   N
929109 2017-11-03  L1724  SEw4MDAw  ARP3  ARP1   D     0   N
929110 2017-11-03  L1724  SEw4MDAw  ARP3  ARP1   D     0   N

In [49]:
# 데이터 병합

# link_go1_1, link_go1_2, link_go2, link_go4

link_total = pd.concat([link_go1_1,link_go1_2,link_go2,link_go4])
link_total.index = list(range(len(link_total)))

In [50]:
# 이상치 제거

link_total['AIR'] = link_total.ARP+','+link_total.ODP
link_total[link_total['AIR']=='ARP1,ARP1']
link_total = link_total[link_total['AIR']!='ARP1,ARP1']

             DATE     FLT       REG   ARP   ODP AOD  AOD2 DLY        AIR
623974 2019-04-08  I1981F  SEw3Nzk4  ARP1  ARP1   A     1   N  ARP1,ARP1
623975 2019-04-08  I1981F  SEw3Nzk4  ARP1  ARP1   D     0   N  ARP1,ARP1
680780 2018-11-22  J1123M  SEw4MDky  ARP1  ARP1   D     0   Y  ARP1,ARP1
680781 2018-11-22  J1123M  SEw4MDky  ARP1  ARP1   A     1   Y  ARP1,ARP1
682560 2017-09-15  J1124M  SEw3NTY4  ARP1  ARP1   A     1   N  ARP1,ARP1
682561 2017-09-15  J1124M  SEw3NTY4  ARP1  ARP1   D     0   Y  ARP1,ARP1
693546 2017-12-21  J1134T  SEw4MjMw  ARP1  ARP1   D     0   Y  ARP1,ARP1
693547 2017-12-21  J1134T  SEw4MjMw  ARP1  ARP1   A     1   Y  ARP1,ARP1
896432 2019-05-16  L1105M  SEw4MzU0  ARP1  ARP1   A     1   N  ARP1,ARP1
896433 2019-05-16  L1105M  SEw4MzU0  ARP1  ARP1   D     0   N  ARP1,ARP1

# 시각화를 위한 DF - 토탈, 지연만, 지연 아닌 것만

In [51]:
# 노드 토탈

link_total2 = link_total.pivot_table(index=['ARP','ODP','AOD2'],aggfunc='count',values='DLY')
link_total2.reset_index(['ARP','ODP','AOD2'],inplace=True)

In [52]:
# 지연인 것만

link_total_dly = link_total[link_total['DLY']=='Y']
link_total_dly2 = link_total_dly.pivot_table(index=['ARP','ODP','AOD2'],aggfunc='count',values='DLY')
link_total_dly2.reset_index(['ARP','ODP','AOD2'],inplace=True)

In [53]:
# 지연 아닌 것만

link_total_ndly = link_total[link_total['DLY']=='N']
link_total_ndly2 = link_total_ndly.pivot_table(index=['ARP','ODP','AOD2'],aggfunc='count',values='DLY')
link_total_ndly2.reset_index(['ARP','ODP','AOD2'],inplace=True)

In [54]:
link_total2.columns = ['출발노드','도착노드','링크','횟수']
link_total_dly2.columns = ['출발노드','도착노드','링크','횟수']
link_total_ndly2.columns = ['출발노드','도착노드','링크','횟수']

In [55]:
link_total2

      출발노드   도착노드  링크      횟수
0     ARP1  ARP10   0       2
1     ARP1  ARP10   1       2
2     ARP1  ARP11   0    1708
3     ARP1  ARP11   1    1708
4     ARP1  ARP12   0    1768
5     ARP1  ARP12   1    1771
6     ARP1  ARP13   0       1
7     ARP1  ARP13   1       3
8     ARP1  ARP14   0       2
9     ARP1  ARP15   0    1778
10    ARP1   ARP2   0   25715
11    ARP1   ARP2   1   26544
12    ARP1   ARP3   0  111503
13    ARP1   ARP3   1  110345
14    ARP1   ARP4   0     681
15    ARP1   ARP4   1     699
16    ARP1   ARP5   0    6128
17    ARP1   ARP5   1    6120
18    ARP1   ARP6   0      22
19    ARP1   ARP6   1      23
20    ARP1   ARP7   0       9
21    ARP1   ARP7   1       5
22    ARP1   ARP8   0    1917
23    ARP1   ARP8   1    1926
24    ARP1   ARP9   0    3748
25    ARP1   ARP9   1    3750
26   ARP10   ARP1   0       2
27   ARP10   ARP1   1       1
28   ARP10  ARP15   0       7
29   ARP10   ARP2   0       1
..     ...    ...  ..     ...
121   ARP6   ARP3   1   17092
122   ARP6   ARP4   0       4
123   ARP6   ARP4   1       5
124   ARP6   ARP9   1       1
125   ARP7   ARP1   0       5
126   ARP7   ARP1   1       9
127   ARP7  ARP15   0      14
128   ARP7  ARP15   1       1
129   ARP7   ARP2   0       3
130   ARP7   ARP2   1       1
131   ARP7   ARP3   0    1550
132   ARP7   ARP3   1    1549
133   ARP7   ARP8   0       5
134   ARP7   ARP8   1       5
135   ARP8   ARP1   0    1926
136   ARP8   ARP1   1    1917
137   ARP8  ARP15   0       5
138   ARP8   ARP2   0       1
139   ARP8   ARP2   1       1
140   ARP8   ARP3   0   14523
141   ARP8   ARP3   1   14534
142   ARP8   ARP7   0       5
143   ARP8   ARP7   1       5
144   ARP9   ARP1   0    3751
145   ARP9   ARP1   1    3747
146   ARP9  ARP15   0       2
147   ARP9   ARP2   1       1
148   ARP9   ARP3   0    2517
149   ARP9   ARP3   1    2517
150   ARP9   ARP6   0       1

[151 rows x 4 columns]

In [56]:
rdata3['AIR'] = rdata3.ARP+','+rdata3.ODP
rdata3[rdata3['AIR']=='ARP1,ARP13']

,DATE,FLT,REG,ARP,ODP,AOD,DLY,STT,ATT,DIR,AIR
787099,2019-02-23,J1398,SEw3NTk5,ARP1,ARP13,D,N,16:30,16:43,2019-02-23 00:00:00J1398SEw3NTk5,"ARP1,ARP13"
787107,2018-01-17,J1399,SEw3NTk5,ARP1,ARP13,A,N,7:55,7:49,2018-01-17 00:00:00J1399SEw3NTk5,"ARP1,ARP13"
787113,2018-08-22,J1399,SEw3NzI0,ARP1,ARP13,A,N,16:09,15:59,2018-08-22 00:00:00J1399SEw3NzI0,"ARP1,ARP13"
787119,2019-02-24,J1399,SEw4MzE1,ARP1,ARP13,A,Y,7:33,9:48,2019-02-24 00:00:00J1399SEw4MzE1,"ARP1,ARP13"

# 방향(0)과 방향(1)의 횟루는 동일해야 한다.
# 현재 한 번만 가는 것을 포함시켰기 때문에 그만큼의 차이가 있는 것을 확인 가능

In [71]:
link_total2.pivot_table(index='링크',aggfunc='sum',values='횟수')

# 딱 그정도의 차이 발생

link_total2.pivot_table(index='링크',aggfunc='sum',values='횟수')['횟수'][0] - \
link_total2.pivot_table(index='링크',aggfunc='sum',values='횟수')['횟수'][1]
len(link_go1_2)

        횟수
링크
0   491053
1   488373

2680

2680